{% extends "./User/index.html.twig" %}

{% block body %}
    {% block menu %}
        {{parent()}}
    {% endblock %}
    
    {% block main_body %}
    <div class="jumbotron" id="fullSearchFormAndList" style="display: none;">
        <div class="container-fluid" style="width:95%;">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col"><h2 style="opacity: 0.4; transition: all 0.7s;" class="font-italic"><u><b>"Search"</b> module</u></h2></div>
            </div>
            <div class="row">
                <div class="col-md">
                    <form id="fullSearchForm">
                        <div class="form-group">
                            <div class="row" style="margin-top:10px;">
                                <div class="col">
                                    <input type="submit" id="sendDataBtn" data-bind="click: getSearchDataAjax" class="btn btn-success" value="Find">

                                    <div data-bind="if: alertMessage">
                                        <hr>
                                        <div role="alert" data-bind="class: alertClass">
                                            <span data-bind="text: alertMessage"></span>
                                        </div>
                                    </div>

                                    <hr>
                                    <select data-bind="options: SEARCH_LOCATION_LIST,
                                            optionsText: 'case',
                                            optionsValue: 'case',
                                            value: choosenLocationForSearch,
                                            optionsCaption: 'Choose location'" class="custom-select custom-select-sm" id="location"></select>
                                </div>
                            </div><hr>
                        </div>
    
                        <div class="form-group" data-bind="visible: choosenLocationForSearch()">
                            <div class="row">
                                <div class="col">
                                    <label for="games">Games:</label>
                                    <select data-bind="options: GAMES_LIST,
                                            optionsText: 'title',
                                            optionsValue: 'id',
                                            value: game,
                                            optionsCaption: 'Choose game'" class="custom-select custom-select-sm" id="games"></select>
                                </div>

                                <div class="col" data-bind="visible: feedbackVisible() | storeVisible()">
                                    <label for="versions">Versions:</label>
                                    <select data-bind="options: SORTED_VERSIONS_LIST[game()],
                                            optionsText: 'title',
                                            optionsValue: 'id',
                                            value: version,
                                            optionsCaption: 'Choose version'" class="custom-select custom-select-sm" id="versions"></select>
                                </div>

                                <div class="col" data-bind="visible: communityVisible() | moderatorVisible()">
                                    <label for="servers">Server:</label>
                                    <select data-bind="options: SERVERS_LIST,
                                            optionsText: 'title',
                                            optionsValue: 'id',
                                            value: server,
                                            optionsCaption: 'Server'" class="custom-select custom-select-sm" id="servers"></select>
                                </div>
                                
                                <div class="col" data-bind="visible: feedbackVisible()">
                                    <label for="platforms">Platform:</label>
                                    <select data-bind="options: PLATFORMS_LIST,
                                            optionsText: 'title',
                                            optionsValue: 'id',
                                            value: platform,
                                            optionsCaption: 'Platform'" class="custom-select custom-select-sm" id="platforms"></select>
                                </div>

                                <div class="col" data-bind="visible: storeVisible()">
                                    <label for="store">Store:</label>
                                    <select data-bind="options: STORES_LIST,
                                            optionsText: 'title',
                                            optionsValue: 'id',
                                            value: store,
                                            optionsCaption: 'Store'" class="custom-select custom-select-sm" id="store"></select>
                                </div>

                                <div class="col" data-bind="visible: !moderatorVisible ()">
                                    <label for="tags">Tag:</label>
                                    <select data-bind="options: TAGS_LIST,
                                            optionsText: 'description',
                                            optionsValue: 'id',
                                            value: tag,
                                            optionsCaption: 'Tag'" class="custom-select custom-select-sm" id="tags"></select>
                                </div>

                                <div class="col" data-bind="visible: moderatorVisible ()">
                                    <label for="country">Status:</label>
                                    <select data-bind="options: STATUS_LIST, 
                                            optionsText: 'title',
                                            optionsValue: 'title',
                                            value: moderatorStatus,
                                            optionsCaption: 'Status'" class="custom-select custom-select-sm" id="status" required></select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" data-bind="visible: choosenLocationForSearch()">
                            <div class="row">
                                <div class="col" id="error-dialog-playerId" data-bind="visible: communityVisible() | moderatorVisible() ">
                                    <label for="playerId">Player Id:</label>
                                    <input type="number" id="playerId" 
                                    data-bind="textInput: playerId" class="form-control" />
                                </div>

                                <div class="col" id="inputNickname" data-bind="visible: moderatorVisible()">
                                    <label for="inputNickname">Nickname:</label>
                                    <input id="inputNickname" 
                                    data-bind="textInput: inputNickname" class="form-control" type="text" />
                                </div>

                                <div class="col" id="error-dialog-link" data-bind="visible: feedbackVisible() | communityVisible()">
                                    <label for="inputLink">Link:</label>
                                    <input id="inputLink" 
                                    data-bind="textInput: inputLink" class="form-control" type="url" />
                                </div>

                                <div class="col" data-bind="visible: storeVisible()">
                                    <label for="inputDevice">Device:</label>
                                    <input id="inputDevice" data-bind="textInput: inputDevice" class="form-control" />
                                </div>

                                <div class="col" data-bind="visible: storeVisible()">
                                    <label for="inputOs">OS:</label>
                                    <input id="inputOs" data-bind="textInput: inputOs" class="form-control" />
                                </div>

                                <div class="col" id="error-dialog-ram-from" data-bind="visible: storeVisible()">
                                    <label for="inputRamFrom">RAM From:</label>
                                    <input id="inputRamFrom" data-bind="textInput: inputRamFrom" class="form-control" type="number"
                                    data-validation-error-msg="Numbers only" 
                                    data-validation-error-msg-container="#error-dialo-ram-from" />
                                </div>

                                <div class="col" id="error-dialog-ram-to" data-bind="visible: storeVisible()">
                                    <label for="inputRamTo">RAM To:</label>
                                    <input id="inputRamTo" data-bind="textInput: inputRamTo" class="form-control" type="number"
                                    data-validation-error-msg="Numbers only" 
                                    data-validation-error-msg-container="#error-dialo-ram-to" />
                                </div>

                                <div class="col" data-bind="visible: moderatorVisible ()">
                                    <label for="country">Country:</label>
                                    <select data-bind="options: COUNTRIES_LIST,
                                            optionsText: 'title',
                                            optionsValue: 'id',
                                            value: country,
                                            optionsCaption: 'Country'" class="custom-select custom-select-sm" id="country" required></select>
                                </div>

                                <div class="col" data-bind="visible: !moderatorVisible ()">
                                    <label for="periodFrom">Period from:</label>
                                    <input type="date" name="periodFrom" data-format="Y-m-d\TH:i:s" data-bind="value: periodFrom" class="form-control">
                                </div>

                                <div class="col" data-bind="visible: !moderatorVisible ()">
                                    <label for="periodTo">Period to:</label>
                                    <input type="date" name="periodTo" data-format="Y-m-d\TH:i:s" data-bind="value: periodTo" class="form-control">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row" data-bind="ifnot: moderatorVisible" style="margin-top:15px;" id="searchTable">
                <div class="col-xl">
                    <table class="table table-striped">
                        <thead>
                            <tr data-bind="if: havingDataFromResponse">
                                <th scope="col">#</th>
                                <th scope="col">Game</th>
                                <th scope="col" data-bind="if: storeVisible()">Device</th>
                                <th scope="col" data-bind="if: communityVisible()">Player Id</th>
                                <th scope="col" data-bind="if: communityVisible()">Server</th>
                                <th scope="col" data-bind="if: !communityVisibleTwo()">Version</th>
                                <th scope="col" data-bind="if: storeVisible()">Store</th>
                                <th scope="col" data-bind="if: feedbackVisible()">Platform</th>
                                <th scope="col">Tag</th>
                                <th scope="col">Marker</th>
                                <th scope="col" data-bind="ifnot: moderatorVisible | storeVisible()">Note</th>
                                <th scope="col" data-bind="if: storeVisible()">OS</th>
                                <th scope="col" data-bind="if: storeVisible()">RAM</th>
                                <th scope="col">Created at</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>

                        <tbody data-bind="foreach: dataFromResponse">
                            <tr>
                                <th scope="row" data-bind="visible: feedbackVisible()">
                                    <button class="btn btn-outline-info" data-bind="text: id, click: $parent.getTicketDataAjax.bind(id)" data-toggle="modal" data-target=".bd-example-modal-xl"></button>
                                </th>
                                <th scope="row" data-bind="visible: storeVisible()">
                                    <button class="btn btn-outline-info" data-bind="text: id, click: $parent.getTicketDataAjax.bind(id)" data-toggle="modal" data-target=".bd-example-modal-xl"></button>
                                </th>
                                <th scope="row" data-bind="visible: communityVisibleTwo()">
                                    <button class="btn btn-outline-info" data-bind="text: id, click: $parent.getTicketDataAjax.bind(id)" data-toggle="modal" data-target=".bd-example-modal-xl"></button>
                                </th>
                                <td data-bind="text: game"></td>
                                <td data-bind="if: storeVisible()"><span data-bind="text: device"></span></td>
                                <td data-bind="if: communityVisible()"><span data-bind="text: player_id"></span></td>
                                <td data-bind="if: communityVisible()"><span data-bind="text: server"></span></td>
                                <td data-bind="if: feedbackVisible() | storeVisible()"><span data-bind="text: version"></span></td>
                                <td data-bind="if: storeVisible()"><span data-bind="text: store"></span></td>
                                <td data-bind="if: feedbackVisible()"><span data-bind="text: platform"></span></td>
                                <span class="badge badge-light"><td data-bind="text: tag"></td></span>
                                <span class="badge badge-light"><td data-bind="text: marker"></td><span>
                                <td data-bind="ifnot: moderatorVisible | storeVisible()"><span data-bind="text: note"></span></td>
                                <td data-bind="if: storeVisible()"><span data-bind="text: os"></span></td>
                                <td data-bind="if: storeVisible()"><span data-bind="text: ram"></span></td>
                                <td data-bind="text: moment(created.date).format('DD.MM.YYYY');"></td>
                                
                                <td data-bind="visible: feedbackVisible()">
                                    <a data-bind="attr: {href: '/action/problem-ticket/' + id }" class="btn btn-warning">Edit</a>
                                </td>
                                <td data-bind="visible: feedbackVisible()">
                                    <a data-bind="attr: {href: '/delete/' + id + '/problem-ticket/'}" class="btn btn-danger">Delete</a>
                                </td>
                                

                                <td data-bind="visible: storeVisible()">
                                    <a data-bind="attr: {href: '/action/problem-ticket-store/' + id }" class="btn btn-warning">Edit</a>
                                </td>
                                <td data-bind="visible: storeVisible()">
                                    <a data-bind="attr: {href: '/delete/' + id + '/problem-ticket-store/'}" class="btn btn-danger">Delete</a>
                                </td>


                                <td data-bind="visible: communityVisibleTwo()">
                                    <a data-bind="attr: {href: '/action/problem-ticket-community/' + id }" class="btn btn-warning">Edit</a>
                                </td>
                                <td data-bind="visible: communityVisibleTwo()">
                                    <a data-bind="attr: {href: '/delete/' + id + '/problem-ticket-community/'}" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>    
                </div><hr>
            </div>

            <div class="row" data-bind="if: moderatorVisible" style="margin-top:15px;" id="searchTable">
                <div class="col-xl">
                    <table class="table table-striped">
                        <thead data-bind="if: havingDataFromResponse">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Game</th>
                                <th scope="col">Server</th>
                                <th scope="col">Player Id</th>
                                <th scope="col">Nickname</th>
                                <th scope="col">Country</th>
                                <th scope="col">Status</th>
                                <th scope="col">Created By</th>
                                <th scope="col">Last time checked</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: dataFromResponse">
                            <tr>
                                <th scope="row"><button class="btn btn-outline-info" data-bind="text: id, click: $parent.getTicketDataAjax.bind(id)" data-toggle="modal" data-target=".bd-example-modal-xl"></button></th>
                                <td data-bind="text: game"></td>
                                <td><span data-bind="text: server"></span></td>
                                <td><span data-bind="text: player_id"></span></td>
                                <td><span data-bind="text: nickname"></span></td>
                                <td><span data-bind="text: country"></span></td>
                                <span class="badge badge-light"><td data-bind="text: status"></td></span>
                                <td><span class="badge badge-info" data-bind="text: createdBy"></span></td>
                                <td data-bind="text: moment(checkedAt.date).format('DD.MM.YYYY');"></td>
                                
                                <td >
                                    <a data-bind="attr: {href: 'http://supports.tmweb.ru/action/moderator/' + id }" class="btn btn-warning">Edit</a>
                                </td>

                                <td>
                                    <a data-bind="attr: {href: 'http://supports.tmweb.ru/delete/' + id + '/moderator/'}" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>    
                </div><hr>
            </div>


            <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" style="overflow-x:hidden;">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content" data-bind="ifnot: moderatorVisible">
                        <table class="table table-striped">
                            <thead>
                                <tr data-bind="if: havingDataFromResponse" align="center">
                                    <th scope="col">#</th>
                                    <th scope="col">Game</th>
                                    <th scope="col" data-bind="if: storeVisible()">Device</th>
                                    <th scope="col" data-bind="if: communityVisible()">Player Id</th>
                                    <th scope="col" data-bind="if: communityVisible()">Server</th>
                                    <th scope="col" data-bind="if: !communityVisibleTwo()">Version</th>
                                    <th scope="col" data-bind="if: storeVisible()">Store</th>
                                    <th scope="col" data-bind="if: feedbackVisible()">Platform</th>
                                    <th scope="col">Tag</th>
                                    <th scope="col">Marker</th>
                                    <th scope="col" data-bind="if: storeVisible()">OS</th>
                                    <th scope="col" data-bind="if: storeVisible()">RAM</th>
                                    <th scope="col">Created at</th>
                                </tr>
                            </thead>

                            <tbody data-bind="foreach: dataResponse">
                                <tr>
                                    <th scope="row" data-bind="visible: feedbackVisible()">
                                        <button class="btn btn-outline-info" data-bind="text: id" data-toggle="modal" data-target=".bd-example-modal-xl"></button>
                                    </th>
                                    <th scope="row" data-bind="visible: storeVisible()">
                                        <button class="btn btn-outline-info" data-bind="text: id" data-toggle="modal" data-target=".bd-example-modal-xl"></button>
                                    </th>
                                    <th scope="row" data-bind="visible: communityVisibleTwo()">
                                        <button class="btn btn-outline-info" data-bind="text: id" data-toggle="modal" data-target=".bd-example-modal-xl"></button>
                                    </th>
                                    <td data-bind="text: game.title"></td>
                                    <td data-bind="if: storeVisible()"><span data-bind="text: device"></span></td>
                                    <td data-bind="if: communityVisible()"><span data-bind="text: playerId"></span></td>
                                    <td data-bind="if: communityVisible()"><span data-bind="text: server.title"></span></td>
                                    <td data-bind="if: feedbackVisible() | storeVisible()"><span data-bind="text: version.title"></span></td>
                                    <td data-bind="if: storeVisible()"><span data-bind="text: store.title"></span></td>
                                    <td data-bind="if: feedbackVisible()"><span data-bind="text: platform.title"></span></td>
                                    <span class="badge badge-light"><td data-bind="text: tag.description"></td></span>
                                    <span class="badge badge-light"><td data-bind="text: marker.description"></td><span>
                                    <td data-bind="if: storeVisible()"><span data-bind="text: os"></span></td>
                                    <td data-bind="if: storeVisible()"><span data-bind="text: ram"></span></td>
                                    <td data-bind="text: moment(created.date).format('DD.MM.YYYY');"></td>
                                </tr>
                            </tbody>
                        </table>    
                        <div style="margin: 15px;" class="card" data-bind="foreach: dataResponse">
                            <div class="card-body">
                                <!-- ko ifnot: storeVisible() -->
                                    Link: <a data-bind="attr: {href: link}"><span data-bind="text: link"></span></a><br>
                                <!-- /ko -->
                                Note: <span data-bind="text: note"></span>
                            </div>
                        </div>
                    </div>

                    <div class="modal-content" data-bind="if: moderatorVisible" style="overflow-x:hidden;">
                        <table class="table table-striped">
                            <thead data-bind="if: havingDataFromResponse" align="center">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Game</th>
                                    <th scope="col">Server</th>
                                    <th scope="col">Player Id</th>
                                    <th scope="col">Nickname</th>
                                    <th scope="col">Is Checked?</th>
                                    <th scope="col">Country</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Created By</th>
                                    <th scope="col">Last time checked</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: dataResponse">
                                <tr>
                                    <th scope="row"><button class="btn btn-outline-info" data-bind="text: id" data-toggle="modal" data-target=".bd-example-modal-xl"></button></th>
                                    <td data-bind="text: game.title"></td>
                                    <td><span data-bind="text: server.title"></span></td>
                                    <td><span data-bind="text: playerId"></span></td>
                                    <td><span data-bind="text: nickname"></span></td>
                                    <!-- ko if: isChecked == true -->
                                        <td><span data-bind="text: isChecked" class="badge badge-pill badge-success"></span></td>
                                    <!-- /ko -->
                                     <!-- ko if: isChecked == false -->
                                        <td><span data-bind="text: isChecked" class="badge badge-pill badge-danger"></span></td>
                                    <!-- /ko -->
                                    <td><span data-bind="text: country.title"></span></td>
                                    <span class="badge badge-light"><td data-bind="text: status"></td></span>
                                    <td><span class="badge badge-info" data-bind="text: createdBy"></span></td>
                                    <td data-bind="text: moment(checkedAt.date).format('DD.MM.YYYY');"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="margin: 15px;" class="card" data-bind="foreach: dataResponse">
                            <div class="card-body">
                                Link: <a data-bind="attr: {href: link}"><span data-bind="text: link"></span></a><br>
                                Note: <span data-bind="text: note"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block javascripts %}
        {{parent()}}
    {% endblock %}

    {% block js %}
        {{parent()}}
        {% block form %}
            <script>
                const GAMES_LIST = {{ games | json_encode() | raw }};
                const VERSIONS_LIST = {{ versions | json_encode() | raw }};
                const TAGS_LIST = {{ tags | json_encode () | raw }};
                const SERVERS_LIST = {{ servers | json_encode () | raw }};
                const PLATFORMS_LIST = {{ platforms | json_encode () | raw }};
                const STORES_LIST = {{ stores | json_encode () | raw }};
                const COUNTRIES_LIST = {{ countries | json_encode () | raw }}
                const SORTED_VERSIONS_LIST = {};
                const SEARCH_LOCATION_LIST = [
                    {"case": "Feedback"},
                    {"case": "Community"},
                    {"case": "Store"},
                    {"case": "Moderators"}
                ];
                const STATUS_LIST = [
                    {"id": 1, "title": "Ожидает"},
                    {"id": 2, "title": "Действующий"},
                    {"id": 3, "title": "Изгнан"},
                    {"id": 4, "title": "Отклонен"},
                    {"id": 5, "title": "Сам ушел"},
                ];

                if (Array.isArray (VERSIONS_LIST)) {
                    VERSIONS_LIST.map ((i) => {
                        if (SORTED_VERSIONS_LIST[i.game] !== undefined) {
                            SORTED_VERSIONS_LIST[i.game].push ({"id": i.id, "title": i.title, "game": [i.game]});
                        } else {
                            SORTED_VERSIONS_LIST[i.game] = [];
                            SORTED_VERSIONS_LIST[i.game].push ({"id": i.id, "title": i.title, "game": [i.game]});
                        }
                    });  
                }

                class FullSearchViewModel {
                    self = this;
                    constructor () {
                        // Search Options
                        self.game = ko.observable ();
                        self.version = ko.observable ();
                        self.server = ko.observable ();
                        self.platform = ko.observable ();
                        self.tag = ko.observable ();
                        self.store = ko.observable ();
                        self.periodFrom = ko.observable ();
                        self.periodTo = ko.observable ();
                        self.playerId = ko.observable ();
                        self.inputLink = ko.observable ();
                        self.inputDevice = ko.observable ();
                        self.inputRamFrom = ko.observable ();
                        self.inputRamTo = ko.observable ();
                        self.inputOs = ko.observable ();
                        self.inputNickname = ko.observable ();
                        self.moderatorStatus = ko.observable ();
                        self.country = ko.observable ();
                        // Where need find
                        self.choosenLocationForSearch = ko.observable ();
                        // Visibility of the table content
                        self.havingDataFromResponse = ko.observable (false);
                        // Data from ajax
                        self.dataFromResponse = ko.observableArray ();
                        // Switch-options for form
                        self.communityVisible = ko.observable (false);
                        self.communityVisibleTwo = ko.observable (false);
                        self.storeVisible = ko.observable (false);
                        self.feedbackVisible = ko.observable (true);
                        self.moderatorVisible = ko.observable (false);
                        // Alert message, style class
                        self.alertMessage = ko.observable ();
                        self.alertClass = ko.observable ();
                        //Data-container for request
                        self.dataContainerRequest = {};
                        //Data-container request for one ticket, which will show in the modal window
                        self.dataContainerForConcreteTicket = {
                            'id': '',
                            'location': '',
                        };
                        //url ajax for modal window
                        self.ticketDataUrl = ko.observable ();
                        //data for ajax response
                        self.dataResponse = ko.observable ();
                    }

                    switcherOfSearchLocation () {
                        $("#location").change (function () {
                            self.dataFromResponse (null);
                            self.havingDataFromResponse(null);
                            self.communityVisibleTwo (false);
                            self.alertMessage (null);

                            console.log ("community", self.communityVisible ())
                            console.log ("community2", self.communityVisibleTwo ())
                            console.log ("store", self.storeVisible ())
                            console.log ("feedback", self.feedbackVisible ())
                            console.log ("moderator", self.moderatorVisible ())

                            if (typeof(self.choosenLocationForSearch ()) !== undefined) {
                                self.dataResponse (null);
                                if (self.choosenLocationForSearch () === "Community") {
                                    self.communityVisible (true);
                                    self.communityVisibleTwo (true);
                                    self.storeVisible (false);
                                    self.feedbackVisible (false);
                                    self.moderatorVisible (false);
                                } else if (self.choosenLocationForSearch () === "Store") {
                                    self.communityVisible (false);
                                    self.communityVisibleTwo (false);
                                    self.feedbackVisible (false);
                                    self.storeVisible (true);
                                    self.moderatorVisible (false);
                                } else if (self.choosenLocationForSearch () === "Feedback") {
                                    self.communityVisible (true);
                                    self.storeVisible (false);
                                    self.feedbackVisible (true);
                                    self.moderatorVisible (false);
                                } else if (self.choosenLocationForSearch () === "Moderators") {
                                    self.communityVisible (false);
                                    self.storeVisible (false);
                                    self.feedbackVisible (false);
                                    self.moderatorVisible (true);
                                }
                            }
                        });
                    }

                    getDataContainerForRequest () {
                        return self.dataContainerRequest = {
                            "location": self.choosenLocationForSearch (),
                            "game": self.game (),
                            "version": self.version (),
                            "server": self.server (),
                            "platform": self.platform (),
                            "tag": self.tag (),
                            "store": self.store (),
                            "period_from": self.periodFrom (),
                            "period_to": self.periodTo (),
                            "player_id": self.playerId (),
                            "link": self.inputLink (),
                            "device": self.inputDevice (),
                            "ram_from": self.inputRamFrom (),
                            "ram_to": self.inputRamTo (),
                            "os": self.inputOs (),
                            "platform": self.platform (),
                            "nickname": self.inputNickname (),
                            "moderator_status": self.moderatorStatus (),
                            "moderator_country": self.country (),
                        };  
                    }
                    
                    getSearchDataAjax () {
                        this.getDataContainerForRequest ();

                        function setAlertMessage (response) {
                            if (response.length <= 0) {
                                self.alertMessage ("Cannot found any matches..");
                                self.alertClass ('alert alert-danger');
                                self.havingDataFromResponse (false);
                            } else {
                                self.alertMessage ('Found matches: ' + response.length);
                                self.alertClass ('alert alert-success');
                                self.havingDataFromResponse (true);
                            }
                        }

                        function setFieldsOnSuccess () {
                            self.playerId (null);
                            self.inputLink (null);
                            self.inputDevice (null);
                            self.inputRamFrom (null);
                            self.inputRamTo (null);
                            self.inputOs (null);
                        }

                        $.ajax ({
                            url: "{{ path('search-by') }}",
                            type: "POST",
                            dataType: "JSON",
                            data: self.dataContainerRequest,
                            success: function(response) {
                                response.forEach (function (i) {
                                    if (i.note !== undefined) {
                                        var strNoteLength = i.note.length;
                                        var strMaxLength = 50;
                                        var strLengthForCute = strNoteLength - strMaxLength;
                                        i.note = i.note.slice (0, -(strLengthForCute));
                                    }
                                });
                                response ? self.dataFromResponse (response) : self.dataFromResponse (null);
                                
                                setAlertMessage (self.dataFromResponse ());
                                setFieldsOnSuccess ();
                            },
                            error: function (response) {
                                console.log (self.dataContainerRequest);
                                console.log ('Error response:' + response);
                            }
                        });
                    }

                    getTicketDataAjax (id) {
                        if (typeof id.id !== undefined) {
                            id = id.id;
                        }

                        if (typeof (self.choosenLocationForSearch ()) !== undefined) {
                            if (self.choosenLocationForSearch () === "Community") {self.ticketDataUrl ("{{path('show-one-problem-ticket-community')}}");}
                            else if (self.choosenLocationForSearch () === "Store") {self.ticketDataUrl ("{{path('show-one-problem-ticket-store')}}");}
                            else if (self.choosenLocationForSearch () === "Feedback") {self.ticketDataUrl ("{{path('show-one-problem-ticket')}}")}
                            else if (self.choosenLocationForSearch () === "Moderators") {self.ticketDataUrl ("{{path('show-one-moderator')}}")}
                            
                            self.dataContainerForConcreteTicket.id = id;
                            self.dataContainerForConcreteTicket.location = self.choosenLocationForSearch ();
                        }

                        $.ajax ({
                            url: self.ticketDataUrl (),
                            type: "POST",
                            dataType: "JSON",
                            data: self.dataContainerForConcreteTicket,
                            success: function (response) {
                                if (response !== undefined) {
                                    var response = JSON.parse (response);
                                    self.dataResponse (response);
                                }
                            }, 
                            error: function (response) {
                                console.log ('Error:', JSON.parse (response));
                            }
                        });
                    }
                };

                $(document).ready (function () {
                    let fullSearchVM = new FullSearchViewModel ();
                    ko.applyBindings (fullSearchVM, document.getElementById ('fullSearchFormAndList'));

                    fullSearchVM.switcherOfSearchLocation ();

                    $('#fullSearchFormAndList').removeAttr ('style');
                });

                ko.cleanNode (document.getElementById ('fullSearchFormAndList'));
            </script>
        {% endblock %}
    {% endblock %}
{% endblock %}