{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="container" style="margin-top: 7%;">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-5">
            <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin" role="form">

                <div class="form-group">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}

                    <h2 class="h3 mb-3 font-weight-normal"> Please, Sing In</h2>
                    <label for="username">{{ 'security.login.username'|trans }}</label>
                    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
                </div>

                <div class="form-group">
                    <label for="password">{{ 'security.login.password'|trans }}</label>
                    <input type="password" class="form-control" id="password" name="_password" required="required" autocomplete="current-password" />
                </div>

                <div class="form-group">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <b>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</b> |
                        <a href="{{ path('fos_user_security_logout') }}">
                            <b>{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</b>
                        </a>
                    {% endif %}
                </div>

                <div class="checkbox">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                </div>

                <input type="submit" class="btn btn-lg btn-primary btn-block" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
            </form>
        </div>
    </div>
</div>

