{% extends "./Admin/index.html.twig" %}

{% block sonata_page_content %}
    <div class="container" style="margin: 15px">
        <div class="row">
            <form action="{{ path("add-country") }}"><input type="submit" class="btn btn-primary" value="Add new country"></form><hr>

            <div class="col-sm-.">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Country #ID:</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for country in countries %}
                            <tr>
                                <td><a href="{{ path('show-one-country', {id: country.id}) }}" class="btn btn-dark" style="font-size:17px; color:black;">{{ country.title }}</a></td>
                                <td>{{ country.id }}</td>
                                <td><a href="{{ path('edit-country', {id: country.id}) }}" class="btn btn-warning">Edit</a></td>
                                <td><a href="{{ path('delete-country', {id: country.id}) }}" class="btn btn-danger">Delete</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table><hr>
            </div>


            {% if buttons[0] is defined %}
                <nav aria-label="...">
                    {% set next = current + 1 %}
                    {% set previous = current - 1 %}
                        
                    <ul class="pagination">
                        {% if current == 0 %}
                            <li class="page-item disabled">
                                <span class="page-link" tabindex="-1" aria-disabled="true">Previous</span>
                            </li>
                        {% elseif current >= 1 %}
                            <li class="page-item">
                                <a class="page-link" href="/show/{{ previous }}/page/countries" tabindex="-1" aria-disabled="false">Previous</a>
                            </li>
                        {% endif %}
                        

                        {% for button in buttons %}
                            <li class="page-item">
                                {% if button.0 == current %}
                                    <a href="/show/{{button.0}}/page/countries" class="page-link">
                                        <span class="badge badge-primary">{{button.0 + 1}}</span>
                                    </a>
                                {% else %}
                                    <a href="/show/{{button.0}}/page/countries" class="page-link">
                                        {{button.0 + 1}}
                                    </a>
                                {% endif %}
                            </li>
                        {% endfor %}


                        {% if buttons|length > current + 1 %}
                            <li class="page-item">
                                <a class="page-link" href="/show/{{ next }}/page/countries" tabindex="+1" aria-disabled="false">Next</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <span class="page-link" tabindex="-1" aria-disabled="true">Next</span>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}

        </div>
    </div>
{% endblock %}