{% extends "./User/index.html.twig" %}

{% block body %}
    {{parent()}}
    <div class="jumbotron">
        <h1 class="display-4" style="opacity:0.7;"><b>{{ problem_ticket_community.getGame ().getTitle () }}</b> ticket</h1>
        <p class="lead">
            <div class="row" style="margin-top:15px;">
                <div class="col-xl">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Game</th>
                                <th scope="col">Player Id</th>
                                <th scope="col">Server</th>
                                <th scope="col">Tag</th>
                                <th scope="col">Marker</th>
                                <th scope="col">Created at</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <th scope="row"><a href="{{ path('show-one-problem-ticket-community', {id: problem_ticket_community.id}) }}">{{ problem_ticket_community.getId() }}</a></th>
                                    <td>{{ problem_ticket_community.getGame().getTitle() }}</td>
                                    <td>{{ problem_ticket_community.getPlayerId() }}</td>
                                    <td>{{ problem_ticket_community.getServer().getTitle() }}</td>
                                    <td>{{ problem_ticket_community.getTag().getDescription() }}</td>
                                    <td>{{ problem_ticket_community.getMarker().getDescription() }}</td>
                                    <td>{{ problem_ticket_community.getCreated()|date("d/m/Y") }}</td>
                                    <td><a href="{{ path('action-problem-ticket-community', {id: problem_ticket_community.id}) }}" class="btn btn-warning">Edit</a>
                                    <a href="{{ path('delete-problem-ticket-community', {id: problem_ticket_community.id}) }}" class="btn btn-danger">Delete</a></td>
                            </tr>
                        </tbody>
                    </table>    
                </div>
            </div>
        </p>
        <hr class="my-4">
        <h3 class="display-7" style="opacity:0.7;"><b>Os:</b> {{ problem_ticket_community.getLink () }}</h3>
        <h4 class="display-7" style="opacity:0.6;"><b>Ram:</b> {{ problem_ticket_community.getNote () }}</h4><hr>
        <p class="lead">
            <a class="badge badge-secondary" href="{{ app.request.headers.get('referer') }}">Back</a>
        </p>
    </div>
{% endblock %}
