{% extends "./User/index.html.twig" %}

{% block body %}
    {% block menu %}
        {{parent()}}
    {% endblock %}
    
    {% block main_body %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <form action="" id="problem_ticket_form">
                    <div class="form-group">
                        <div class="row" style="margin-top:10px;">
                            <div class="col">
                                <button id="sendDataBtn" data-bind="click: sendDataBtnMethod" class="btn btn-success">
                                    Send
                                </button>

                                <div data-bind="if: alertMessage">
                                    <hr>
                                    <div role="alert" data-bind="class: alertClass">
                                        <span data-bind="text: alertMessage"></span>
                                    </div>
                                </div>
                            </div>
                        </div><hr>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label for="games">Games:</label>
                                <select data-bind="options: GAMES_LIST,
                                        optionsText: 'title',
                                        optionsValue: 'id',
                                        value: game,
                                        optionsCaption: 'Choose game'" class="custom-select custom-select-sm" id="games" required></select>
                            </div>

                            <div class="col">
                                <label for="servers">Server:</label>
                                <select data-bind="options: SERVERS_LIST,
                                        optionsText: 'title',
                                        optionsValue: 'id',
                                        value: server,
                                        optionsCaption: 'Server'" class="custom-select custom-select-sm" id="servers"></select>
                            </div>

                            <div class="col">
                                <label for="tags">Tag:</label>
                                <select data-bind="options: TAGS_LIST,
                                        optionsText: 'description',
                                        optionsValue: 'id',
                                        value: tag,
                                        optionsCaption: 'Tag'" class="custom-select custom-select-sm" id="tags" required></select>
                            </div>

                            <div class="col">
                                <label for="markers">Marker:</label>
                                <select data-bind="options: SORTED_TAGS_MARKERS_LIST[tag()],
                                        optionsText: 'description',
                                        optionsValue: 'id',
                                        value: marker,
                                        optionsCaption: 'Tag Markers'" class="custom-select custom-select-sm" id="markers"></select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label for="playerId">Player Id:</label>
                                <input id="playerId" type="number" data-bind="textInput: playerId" class="form-control" required />
                            </div>

                            <div class="col">
                                <label for="inputLink">Link:</label>
                                <input id="inputLink" data-bind="textInput: inputLink" class="form-control" />
                            </div>

                            <div class="col">
                                <label for="inputNote">Note:</label>
                                <input id="inputNote" type="textarea" data-bind="value: inputNote" class="form-control"/>
                            </div>

                            <div class="col">
                                <label for="createdAt">Created at:</label>
                                <input type="date" name="created" data-format="Y-m-d\TH:i:s" data-bind="value: createdAt" class="form-control">
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div><hr>
            <p class="lead">
                <a class="badge badge-secondary" href="{{ app.request.headers.get('referer') }}">Back</a>
            </p>
        </div>
    </div>
    {% endblock %}

    {% block javascripts %}
        {{parent()}}
    {% endblock %}

    {% block js %}
        {{parent()}}
        {% block form %}
            <script>
                const GAMES_LIST = {{ games | json_encode() | raw }};
                const MARKERS_LIST = {{ markers | json_encode () | raw }};
                const TAGS_LIST = {{ tags | json_encode () | raw }};
                const SORTED_TAGS_MARKERS_LIST = {};

                if (Array.isArray (MARKERS_LIST) || Array.isArray (TAGS_LIST)) {
                    MARKERS_LIST.map ((j) => {
                        if (SORTED_TAGS_MARKERS_LIST[j.tag] !== undefined) {
                            SORTED_TAGS_MARKERS_LIST[j.tag].push ({"id": j.id, "description": j.description, "tag": [j.tag]});
                        } else {
                            SORTED_TAGS_MARKERS_LIST[j.tag] = [];
                            SORTED_TAGS_MARKERS_LIST[j.tag].push ({"id": j.id, "description": j.description, "tag": [j.tag]});
                        }
                        
                    });
                }

                const SERVERS_LIST = {{ servers | json_encode () | raw }};

                var TICKET;
                {% if ticket is defined %}
                    TICKET = {{ ticket | json_encode() | raw }};
                    TICKET = JSON.parse (TICKET);
                {% endif %}

                class ProblemTicketFormViewModel {
                    constructor () {
                        if (TICKET) {
                            if (TICKET.game.id) {
                                self.game = ko.observable (TICKET.game.id);
                            } else {
                                self.game = ko.observable (null);
                            }
                            
                            if (TICKET.tag) {
                                self.tag = ko.observable (TICKET.tag.id);
                            } else {
                                self.tag = ko.observable (null);
                            }

                            if (TICKET.server) {
                                self.server = ko.observable (TICKET.server.id);
                            } else {
                                self.server = ko.observable (null);
                            }

                            if (TICKET.marker) {
                                self.marker = ko.observable (TICKET.marker.id);
                            } else {
                                self.marker = ko.observable (null);
                            }

                            if (TICKET.playerId) {
                                self.playerId = ko.observable (TICKET.playerId);
                            } else {
                                self.playerId = ko.observable (null);
                            }

                            if (TICKET.created.timestamp) {
                                var created = TICKET.created.timestamp;
                                created = moment.unix(created).format("YYYY/MM/DD").split("/").join("-");

                                self.createdAt = ko.observable (created);
                            } else {
                                self.createdAt = ko.observable (null);
                            }

                            if (TICKET.link) {
                                self.inputLink = ko.observable (TICKET.link);
                            } else {
                                self.inputLink = ko.observable (null);
                            }

                            if (TICKET.note) {
                                self.inputNote = ko.observable (TICKET.note);
                            } else {
                                self.inputNote = ko.observable (null);
                            }

                            if (TICKET.id) {
                                self.editedId = TICKET.id;
                            } else {
                                self.editedId = null;
                            }
                        } else {
                            self.game = ko.observable ();
                            self.tag = ko.observable ();
                            self.server = ko.observable ();
                            self.marker = ko.observable ();
                            self.version = ko.observable ();
                            self.platform = ko.observable ();
                            self.playerId = ko.observable ();
                            self.createdAt = ko.observable ();
                            self.inputLink = ko.observable ();
                            self.inputNote = ko.observable ();
                            self.editedId = null;
                        }

                        {# Alerrting messages #}
                        self.alertMessage = ko.observable ();
                        self.alertClass = ko.observable ();
                        
                        const formData = {};
                    }

                    sendDataBtnMethod () {

                        self.formData = {
                            "game": self.game (),
                            "server": self.server (),
                            "tag": self.tag (),
                            "marker": self.marker (),
                            "player_id": self.playerId (),
                            "link": self.inputLink (),
                            "note": self.inputNote (),
                            "created": self.createdAt ()
                            };  

                        $.ajax({
                            url: "{{ path('create-problem-ticket-community') }}" + "/" + self.editedId,
                            type: "POST",
                            dataType: "JSON",
                            data: self.formData,
                            success: function(response) {
                                if (self.editedId !== null) {
                                    self.alertMessage ("Successfully updated");
                                    self.alertClass ('alert alert-success');

                                    window.location.replace("{{ path('show-problem-tickets-community-page') }}");
                                } else {
                                    self.alertMessage ("Successfully added");
                                    self.alertClass ('alert alert-success');

                                    self.tag (null);
                                    self.marker (null);
                                    self.playerId (null);
                                    {# self.createdAt (null); #} //пробуем функционал с Ириной
                                    self.inputLink (null);
                                    self.inputNote (null);
                                }
                            },
                            error: function(response) {
                                self.alertMessage ("Unsuccessfully");
                                self.alertClass ('alert alert-danger');

                                console.log (response);
                            }
                        });
                    }
                        
                };

                $(document).ready (function () {
                    let problemTicketFormVM = new ProblemTicketFormViewModel ();
                    ko.applyBindings (problemTicketFormVM, document.getElementById('problem_ticket_form'));
                });

                ko.cleanNode(document.getElementById('problem_ticket_form'));
            </script>
        {% endblock %}
    {% endblock %}
{% endblock %}