{% extends "./User/index.html.twig" %}

{% block head %}
    {{parent()}}
{% endblock %}

{% block body %}

    {% block menu %}
        {{parent()}}
    {% endblock %}

    {% block main_body %}
        <div class="jumbotron">
            <div style="margin-left:8%; margin-right:8%;">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col"><h2 style="opacity: 0.4; transition: all 0.7s;" class="font-italic"><u>Module <b>"checking Moderators"</b></u></h2></div>
                </div>
                <div class="row" style="margin-top:15px;">
                    <div class="col-xl">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Game</th>
                                    <th scope="col">Server</th>
                                    <th scope="col">Player Id</th>
                                    <th scope="col">Nickname</th>
                                    <th scope="col">Country</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Is Checked?</th>
                                    <th scope="col">Checked by</th>
                                    <th scope="col">Created At</th>
                                    <th scope="col">Will checked At</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for moderator in moderators_which_time_to_check %}
                                    <tr>
                                        <th scope="row"><a href="{{ path('show-one-moderator', {id: moderator.id}) }}">{{ moderator.getId() }}</a></th>
                                        <td>{{ moderator.getGame().getTitle() }}</td>
                                        <td>{{ moderator.getServer().getTitle() }}</td>
                                        <td>{{ moderator.getPlayerId() }}</td>
                                        <td>{{ moderator.getNickname() }}</td>
                                        <td>{{ moderator.getCountry().getTitle() }}</td>
                                        <td>{{ moderator.getStatus() }}</td>
                                        <td>
                                            {% if moderator.getIsChecked() > 0 %} 
                                                <span class="badge badge-pill badge-success">True</span>
                                            {% else %}
                                                <span class="badge badge-pill badge-danger">False</span>
                                            {% endif %}
                                        </td>
                                        <td><span class="badge badge-info">{{ moderator.getCreatedBy() }}</span></td>
                                        <td>{{ moderator.getCreatedAt()|date("d/m/Y") }}</td>
                                        <td>{{ moderator.getCheckedAt()|date("d/m/Y") }}</td>
                                        <td><a href="{{ path('action-moderator', {id: moderator.id}) }}" class="btn btn-warning">Edit</a>
                                        <a href="{{ path('delete-moderator', {id: moderator.id}) }}" class="btn btn-danger">Delete</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>    
                    </div>
                </div><hr>
                <p class="lead">
                    <a class="badge badge-secondary" href="{{ app.request.headers.get('referer') }}">Back</a>
                </p>
            </div>
        </div>
    {% endblock %}

    {% block javascripts %}
        {{parent()}}
    {% endblock %}

    {% block js %}
        {{parent()}}
    {% endblock %}
{% endblock %}