{% extends "./User/index.html.twig" %}

{% block body %}
    {% block menu %}
        {{parent()}}
    {% endblock %}
    
    {% block main_body %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <form action="" id="moderator_account_from">
                    <div class="form-group">
                        <div class="row" style="margin-top:10px;">
                            <div class="col">
                                <button id="sendDataBtn" data-bind="click: sendDataBtnMethod" class="btn btn-success">
                                    Send
                                </button>

                                <div data-bind="if: alertMessage">
                                    <hr>
                                    <div role="alert" data-bind="class: alertClass">
                                        <span data-bind="text: alertMessage"></span>
                                    </div>
                                </div>
                            </div>
                        </div><hr>
                    </div>

                    <div class="form-group">
                        <div class="row">

                            <div class="col">
                                <label for="games">Games:</label>
                                <select data-bind="options: GAMES_LIST,
                                        optionsText: 'title',
                                        optionsValue: 'id',
                                        value: game,
                                        optionsCaption: 'Choose game'" class="custom-select custom-select-sm" id="games" required></select>
                            </div>

                            <div class="col">
                                <label for="servers">Server:</label>
                                <select data-bind="options: SERVERS_LIST,
                                        optionsText: 'title',
                                        optionsValue: 'id',
                                        value: server,
                                        optionsCaption: 'Server'" class="custom-select custom-select-sm" id="servers" required></select>
                            </div>

                            <div class="col">
                                <label for="country">Status:</label>
                                <select data-bind="options: STATUS_LIST, 
                                        optionsText: 'title',
                                        optionsValue: 'title',
                                        value: moderatorStatus,
                                        " class="custom-select custom-select-sm" id="status" required></select>
                            </div>

                            <div class="col">
                                <label for="country">Moderator by:</label>
                                <select data-bind="options: COUNTRIES_LIST,
                                        optionsText: 'title',
                                        optionsValue: 'id',
                                        value: country,
                                        optionsCaption: 'Country'" class="custom-select custom-select-sm" id="country" required></select>
                            </div>

                            <div class="col">
                                <label for="createdAt">Appointed At:</label>
                                <input type="date" name="created" data-format="Y-m-d\TH:i:s" data-bind="value: createdAt" class="form-control">
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label for="playerId">Player Id:</label>
                                <input id="playerId" type="number" data-bind="textInput: playerId" class="form-control" required />
                            </div>

                            <div class="col">
                                <label for="nickname">Nickname:</label>
                                <input id="nickname" data-bind="textInput: nickname" class="form-control" required />
                            </div>

                            <div class="col">
                                <label for="inputLink">Link:</label>
                                <input id="inputLink" data-bind="textInput: inputLink" class="form-control" />
                            </div>

                            <div class="col">
                                <label for="inputNote">Note:</label>
                                <input id="inputNote" type="textarea" data-bind="value: inputNote" class="form-control"/>
                            </div>

                            <div class="col">
                                <label>Checking status:</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <input id="isChecked" type="checkbox" data-bind="checked: isChecked" required />
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" value="Is checked? " aria-label="Text input with checkbox">
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div><hr>
        <p class="lead">
            <a class="badge badge-secondary" href="{{ app.request.headers.get('referer') }}">Back</a>
        </p>
    </div>
    {% endblock %}

    {% block javascripts %}
        {{parent()}}
    {% endblock %}

    {% block js %}
        {{parent()}}
        {% block form %}
            <script>
                const GAMES_LIST = {{ games | json_encode() | raw }};
                const SERVERS_LIST = {{ servers | json_encode () | raw }};
                const COUNTRIES_LIST = {{ countries | json_encode() | raw }};
                const STATUS_LIST = [
                    {"id": 1, "title": "Ожидает"},
                    {"id": 2, "title": "Действующий"},
                    {"id": 3, "title": "Изгнан"},
                    {"id": 4, "title": "Отклонен"},
                    {"id": 5, "title": "Сам ушел"},
                ];

                var TICKET;
                {% if ticket is defined %}
                    TICKET = {{ ticket | json_encode() | raw }};
                    TICKET = JSON.parse (TICKET);
                {% endif %}

                class ModeratorAccountFormViewModel {
                    constructor () {
                        if (TICKET) {
                            if (TICKET.game.id) {
                                self.game = ko.observable (TICKET.game.id);
                            } else {
                                self.game = ko.observable (null);
                            }

                            if (TICKET.server) {
                                self.server = ko.observable (TICKET.server.id);
                            } else {
                                self.server = ko.observable (null);
                            }

                            if (TICKET.playerId) {
                                self.playerId = ko.observable (TICKET.playerId);
                            } else {
                                self.playerId = ko.observable (null);
                            }

                            if (TICKET.nickname) {
                                self.nickname = ko.observable (TICKET.nickname);
                            } else {
                                self.nickname = ko.observable (null);
                            }

                            if (TICKET.status) {
                                self.status = ko.observable (TICKET.status);
                            } else {
                                self.status = ko.observable (null);
                            }

                            if (TICKET.country) {
                                self.country = ko.observable (TICKET.country.id);
                            } else {
                                self.country = ko.observable (null);
                            }

                            if (TICKET.isChecked) {
                                self.isChecked = ko.observable (TICKET.isChecked);
                            } else {
                                self.isChecked = ko.observable (null);
                            }

                            if (TICKET.status) {
                                self.moderatorStatus = ko.observable (TICKET.status);
                            } else {
                                self.moderatorStatus = ko.observable (STATUS_LIST);
                            }

                            if (TICKET.createdAt.timestamp) {
                                var created = TICKET.createdAt.timestamp;
                                created = moment.unix(created).format("YYYY/MM/DD").split("/").join("-");

                                self.createdAt = ko.observable (created);
                            } else {
                                self.createdAt = ko.observable (null);
                            }

                            if (TICKET.link) {
                                self.inputLink = ko.observable (TICKET.link);
                            } else {
                                self.inputLink = ko.observable (null);
                            }

                            if (TICKET.note) {
                                self.inputNote = ko.observable (TICKET.note);
                            } else {
                                self.inputNote = ko.observable (null);
                            }

                            if (TICKET.id) {
                                self.editedId = TICKET.id;
                            } else {
                                self.editedId = null;
                            }
                        } else {
                            self.game = ko.observable ();
                            self.server = ko.observable ();
                            self.playerId = ko.observable ();
                            self.nickname = ko.observable ();
                            self.moderatorStatus = ko.observable ();
                            self.country = ko.observable ();
                            self.isChecked = ko.observable ();
                            self.createdAt = ko.observable ();
                            self.inputLink = ko.observable ();
                            self.inputNote = ko.observable ();
                            self.editedId = null;
                        }

                        {# Alerrting messages #}
                        self.alertMessage = ko.observable ();
                        self.alertClass = ko.observable ();
                        
                        const formData = {};
                    }

                    sendDataBtnMethod () {

                        if (self.isChecked () == false) {
                            self.isChecked ("");
                        }

                        self.formData = {
                            "game": self.game (),
                            "server": self.server (),
                            "player_id": self.playerId (),
                            "nickname": self.nickname (),
                            "status": self.moderatorStatus (),
                            "country": self.country (),
                            "is_checked": self.isChecked (),
                            "link": self.inputLink (),
                            "note": self.inputNote (),
                            "created": self.createdAt (),
                            "user": "{{ app.user.username }}",
                            };  
                        console.log (self.formData)
                        $.ajax({
                            url: "{{ path('create-moderator') }}" + "/" + self.editedId,
                            type: "POST",
                            dataType: "JSON",
                            data: self.formData,
                            success: function(response) {
                                if (self.editedId !== null) {
                                    self.alertMessage ("Successfully updated");
                                    self.alertClass ('alert alert-success');

                                    window.location.replace("{{ path('show-moderators-page') }}");
                                } else {
                                    self.alertMessage ("Successfully added");
                                    self.alertClass ('alert alert-success');

                                    window.location.replace("{{ path('show-moderators-page') }}");
                                }
                            },
                            error: function(response) {
                                self.alertMessage ("Unsuccessfully");
                                self.alertClass ('alert alert-danger');
                                
                                console.log (response);
                            }
                        });
                    }
                        
                };

                $(document).ready (function () {
                    let ModeratorAccountFormVM = new ModeratorAccountFormViewModel ();
                    ko.applyBindings (ModeratorAccountFormVM, document.getElementById('moderator_account_from'));
                });

                ko.cleanNode(document.getElementById('moderator_account_from'));
            </script>
        {% endblock %}
    {% endblock %}
{% endblock %}