{% extends "./User/index.html.twig" %}

{% block head %}
    {{parent()}}
{% endblock %}

{% block body %}

    {% block menu %}
        {{parent()}}
    {% endblock %}

    {% block main_body %}
        <div class="jumbotron">
            <h1 class="display-4" style="opacity:0.7;"><b>{{ moderator.getGame ().getTitle () }}</b> moderator</h1>
            <p class="lead">
                <div class="row" style="margin-top:15px;">
                    <div class="col-xl">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Game</th>
                                    <th scope="col">Server</th>
                                    <th scope="col">Player Id</th>
                                    <th scope="col">Nickname</th>
                                    <th scope="col">Country</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Is Checked?</th>
                                    <th scope="col">Checked By</th>
                                    <th scope="col">Created At</th>
                                    <th scope="col">Will checked At</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <th scope="row"><a href="{{ path('show-one-deleted-account') }}">{{ moderator.getId() }}</a></th>
                                    <td>{{ moderator.getGame().getTitle() }}</td>
                                    <td>{{ moderator.getServer().getTitle() }}</td>
                                    <td>{{ moderator.getPlayerId() }}</td>
                                    <td>{{ moderator.getNickname() }}</td>
                                    <td>{{ moderator.getCountry().getTitle() }}</td>
                                    <td>{{ moderator.getStatus() }}</td>
                                    <td>
                                        {% if moderator.getIsChecked() > 0 %} 
                                            <span class="badge badge-pill badge-success">True</span>
                                        {% else %}
                                            <span class="badge badge-pill badge-danger">False</span>
                                        {% endif %}
                                    </td>
                                    <td>{{ moderator.getCreatedBy() }}</td>
                                    <td>{{ moderator.getCreatedAt()|date("d/m/Y") }}</td>
                                    <td>{{ moderator.getCheckedAt()|date("d/m/Y") }}</td>
                                    <td><a href="{{ path('action-moderator', {id: moderator.getId()}) }}" class="btn btn-warning">Edit</a>
                                    <a href="{{ path('delete-moderator', {id: moderator.getId() }) }}" class="btn btn-danger">Delete</a></td>
                                </tr>
                            </tbody>
                        </table>    
                    </div>
                </div>
            </p>
            <hr class="my-4">
            <h3 class="display-7" style="opacity:0.7;"><b>Description:</b> {{ moderator.getNote () }}</h3>
            <h4 class="display-7" style="opacity:0.6;"><b>Screenshot:</b> <a href="{{ moderator.getLink () }}">{{ moderator.getLink () }}</a></h4><hr>
            <p class="lead">
                <a class="badge badge-secondary" href="{{ app.request.headers.get('referer') }}">Back</a>
            </p>
        </div>
    {% endblock %}

    {% block javascripts %}
        {{parent()}}
    {% endblock %}

    {% block js %}
        {{parent()}}
    {% endblock %}
{% endblock %}