{% extends "./User/index.html.twig" %}

{% block head %}
    {{parent()}}
{% endblock %}

{% block body %}

    {% block menu %}
        {{parent()}}
    {% endblock %}

    {% block main_body %}
        <div class="jumbotron">
            <div style="margin-left:8%; margin-right:8%;">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm"><h2 style="opacity: 0.4; transition: all 0.7s;" class="font-italic"><u><b>"Moderators"</b> module</u></h2></div>
                </div>
                <div class="row">
                    <div class="col-xl">
                        <a href="{{ path("action-moderator") }}" class="badge badge-light">Send new request of moderator account</a>
                        <a href="{{ path("check-moderators-by-time") }}" class="badge badge-light">
                            {% for moderatorsForCheck in moderators_check %}
                                {% for moderatorCounter in moderatorsForCheck %}
                                    Accounts for check : <span class="badge badge-warning">{{ moderatorCounter }}</span>
                                {% endfor %}
                            {% endfor %}
                        </a>
                    </div>
                </div>

                <div class="row" style="margin-top:15px;">
                    <div class="col-xl">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Game</th>
                                    <th scope="col">Server</th>
                                    <th scope="col">Player Id</th>
                                    <th scope="col">Nickname</th>
                                    <th scope="col">Country</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Is Checked?</th>
                                    <th scope="col">Checked by</th>
                                    <th scope="col">Created At</th>
                                    <th scope="col">Will checked At</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                {% for moderator in moderators %}
                                    <tr>
                                        <th scope="row"><a href="{{ path('show-one-moderator', {id: moderator.id}) }}">{{ moderator.getId() }}</a></th>
                                        <td>{{ moderator.getGame().getTitle() }}</td>
                                        <td>{{ moderator.getServer().getTitle() }}</td>
                                        <td>{{ moderator.getPlayerId() }}</td>
                                        <td>{{ moderator.getNickname() }}</td>
                                        <td>{{ moderator.getCountry().getTitle () }}</td>
                                        <td>{{ moderator.getStatus() }}</td>
                                        <td>
                                            {% if moderator.getIsChecked() > 0 %} 
                                                <span class="badge badge-pill badge-success">True</span>
                                            {% else %}
                                                <span class="badge badge-pill badge-danger">False</span>
                                            {% endif %}
                                        </td>
                                        <td><span class="badge badge-info">{{ moderator.getCreatedBy() }}</span></td>
                                        <td>{{ moderator.getCreatedAt()|date("d/m/Y") }}</td>
                                        <td>{{ moderator.getCheckedAt()|date("d/m/Y") }}</td>
                                        <td><a href="{{ path('action-moderator', {id: moderator.id}) }}" class="btn btn-warning">Edit</a>
                                        <a href="{{ path('delete-moderator', {id: moderator.id}) }}" class="btn btn-danger">Delete</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>    
                    </div>
                </div><hr>

                {% if buttons[0] is defined %}
                    {% if buttons[0]|length >= 1 %}
                        <div class="row">
                            <div class="col-sm">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        {% set next = current + 1 %}
                                        {% set previous = current - 1 %}
                                        {% if current > 0 %}
                                        <li class="page-item"><a class="page-link" href="/show/{{ previous }}/page/moderator">Previous</a></li>
                                        {% endif %}
                                            {% for button in buttons %}
                                                <li class="page-item"><a href="/show/{{button.0}}/page/moderator" class="page-link">
                                                    {% if button.0 == 0 %}
                                                        The last page
                                                    {% else %}
                                                        {{ button.0 }}
                                                    {% endif %}
                                                </a></li>
                                            {% endfor %}
                                        {% if not buttons[0]|length > current %}
                                        <li class="page-item"><a class="page-link" href="/show/{{ next }}/page/moderator">Next</a></li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endblock %}

    {% block javascripts %}
        {{parent()}}
    {% endblock %}

    {% block js %}
        {{parent()}}
    {% endblock %}
{% endblock %}
