{% extends "./User/index.html.twig" %}

{% block head %}
    {{parent()}}
{% endblock %}

{% block body %}

    {% block menu %}
        {{parent()}}
    {% endblock %}

    {% block main_body %}
        <div class="jumbotron" id="moderatorBlock">
            <div style="margin-left:8%; margin-right:8%;">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm"><h2 style="opacity: 0.4; transition: all 0.7s;" class="font-italic"><u><b>"Moderators"</b> module</u></h2></div>
                </div>
                <div class="row">
                    <div class="col">
                        <a href="{{ path("action-moderator") }}" class="badge badge-light">Send new request of moderator account</a>
                        <a href="{{ path("check-moderators-by-time") }}" class="badge badge-light">
                            {% for moderatorsForCheck in moderators_check %}
                                {% for moderatorCounter in moderatorsForCheck %}
                                    Accounts for check : <span class="badge badge-warning">{{ moderatorCounter }}</span>
                                {% endfor %}
                            {% endfor %}
                        </a>
                    </div>

                    <div class="col-sm-2">
                        <select id="project" data-bind="options: GAMES_LIST,
                                optionsText: 'title',
                                optionsValue: 'id',
                                value: project, optionsCaption: 'Project'" class="custom-select custom-select-sm" required>
                        </select>
                    </div>

                    <div class="col-sm-2">
                        <select id="status" data-bind="options: STATUS_LIST, 
                                optionsText: 'title',
                                optionsValue: 'title',
                                value: status, optionsCaption: 'Status'" class="custom-select custom-select-sm" required>
                        </select>
                    </div>
                    <div class="col-sm-1">
                        <button data-bind="click: getDataByFilter" class="btn btn-outline-success">Apply</button>
                    </div>
                </div>

                <div class="row" style="margin-top:15px;">
                    <div class="col-xl">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Game</th>
                                    <th scope="col">Server</th>
                                    <th scope="col">Player Id</th>
                                    <th scope="col">Nickname</th>
                                    <th scope="col">Country</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Is Checked?</th>
                                    <th scope="col">Checked by</th>
                                    <th scope="col">Created At</th>
                                    <th scope="col">Will checked At</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            
                            <tbody data-bind="ifnot: havingFoundModerators">
                                {% for moderator in moderators %}
                                    {% if moderator.getStatusWeight == 1 %}
                                        <tr class="table-success">
                                    {% elseif moderator.getStatusWeight == 2 %}
                                        <tr class="table-warning">
                                    {% elseif moderator.getStatusWeight == 3 %}
                                        <tr class="table-secondary">
                                    {% else %}
                                        <tr class="table-danger">
                                    {% endif %}
                                            <th scope="row"><a href="{{ path('show-one-moderator', {id: moderator.id}) }}">{{ moderator.getId() }}</a></th>
                                            <td>{{ moderator.getGame().getTitle() }}</td>
                                            <td>{{ moderator.getServer().getTitle() }}</td>
                                            <td>{{ moderator.getPlayerId() }}</td>
                                            <td>{{ moderator.getNickname() }}</td>
                                            <td>{{ moderator.getCountry().getTitle () }}</td>
                                            <td>{{ moderator.getStatus() }}</td>
                                            <td>
                                                {% if moderator.getIsChecked() > 0 %} 
                                                    <span class="badge badge-pill badge-success">True</span>
                                                {% else %}
                                                    <span class="badge badge-pill badge-danger">False</span>
                                                {% endif %}
                                            </td>
                                            <td><span class="badge badge-info">{{ moderator.getCreatedBy() }}</span></td>
                                            <td>{{ moderator.getCreatedAt()|date("d/m/Y") }}</td>
                                            <td>{{ moderator.getCheckedAt()|date("d/m/Y") }}</td>
                                            <td><a href="{{ path('action-moderator', {id: moderator.id}) }}" class="btn btn-warning">Edit</a></td>
                                            <td><a href="{{ path('delete-moderator', {id: moderator.id}) }}" class="btn btn-danger">Delete</a></td>
                                        </tr>
                                {% endfor %}
                            </tbody>

                            {# <!-- ko if: havingFoundModerators -->
                                <tbody>
                                    <!-- ko foreach: moderatorsData -->

                                        <!-- ko if: moderator.status_weight == 1 -->
                                            <tr class="table-success">
                                        <!-- /ko -->

                                        <!-- ko if: moderator.status_weight == 2 -->
                                            <tr class="table-warning">
                                        <!-- /ko -->

                                        <!-- ko if: moderator.status_weight == 3 -->
                                            <tr class="table-secondary">
                                        <!-- /ko -->

                                        <!-- ko if: moderator.status_weight == 4 | moderator.status_weight == 5 -->
                                            <tr class="table-danger">
                                        <!-- /ko -->

                                                <th scope="row"><a data-bind="text: moderator.id, attr: {href: '/show/' + moderator.id + '/moderator/'}"></a></th>
                                                <td><span data-bind="text: game"></span></td>
                                                <td><span data-bind="text: server"></span></td>
                                                <td><span data-bind="text: moderator.player_id"></span></td>
                                                <td><span data-bind="text: moderator.nickname"></span></td>
                                                <td><span data-bind="text: country"></span></td>
                                                <td><span data-bind="text: moderator.status"></span></td>
                                                <td>
                                                    <span data-bind="if: moderator.isChecked">
                                                        <span class="badge badge-pill badge-success">True</span>
                                                    </span>
                                                    <span data-bind="ifnot: moderator.isChecked">
                                                        <span class="badge badge-pill badge-danger">False</span>
                                                    </span>
                                                </td>
                                                <td><span class="badge badge-info" data-bind="text: moderator.createdBy"></span></td>
                                                <td><span data-bind="text: moment(moderator.createdAt.date).format('DD/MM/YYYY');"></span></td>
                                                <td><span data-bind="text: moment(moderator.checkedAt.date).format('DD/MM/YYYY');"></span></td>
                                                <th scope="row"><a data-bind="attr: {href: '/action/moderator/' + moderator.id}" class="btn btn-warning">Edit</a></th>
                                                <th scope="row"><a data-bind="attr: {href: '/delete/moderator/' + moderator.id}" class="btn btn-danger">Delete</a></th>
                                            </tr>
                                    <!-- /ko -->
                                </tbody>
                            <!-- /ko --> #}

                            <div data-bind="if: havingFoundModerators()">
                                <tbody data-bind="foreach: moderatorsData">
                                    <tr>
                                        <th scope="row"><a data-bind="text: moderator.id, attr: {href: '/show/' + moderator.id + '/moderator/'}"></a></th>
                                        <td><span data-bind="text: game"></span></td>
                                        <td><span data-bind="text: server"></span></td>
                                        <td><span data-bind="text: moderator.player_id"></span></td>
                                        <td><span data-bind="text: moderator.nickname"></span></td>
                                        <td><span data-bind="text: country"></span></td>
                                        <td><span data-bind="text: moderator.status"></span></td>
                                        <td>
                                            <span data-bind="if: moderator.isChecked">
                                                <span class="badge badge-pill badge-success">True</span>
                                            </span>
                                            <span data-bind="ifnot: moderator.isChecked">
                                                <span class="badge badge-pill badge-danger">False</span>
                                            </span>
                                        </td>
                                        <td><span class="badge badge-info" data-bind="text: moderator.createdBy"></span></td>
                                        <td><span data-bind="text: moment(moderator.createdAt.date).format('DD/MM/YYYY');"></span></td>
                                        <td><span data-bind="text: moment(moderator.checkedAt.date).format('DD/MM/YYYY');"></span></td>
                                        <th scope="row"><a data-bind="attr: {href: '/action/moderator/' + moderator.id}" class="btn btn-warning">Edit</a></th>
                                        <th scope="row"><a data-bind="attr: {href: '/delete/moderator/' + moderator.id}" class="btn btn-danger">Delete</a></th>
                                    </tr>
                                </tbody>
                            </div>
                        </table>    
                    </div>
                </div><hr>

                <div class="row" data-bind="ifnot: havingFoundModerators">
                    <div class="col-sm">
                        {% if buttons[0] is defined %}
                            <nav aria-label="...">
                                {% set next = current + 1 %}
                                {% set previous = current - 1 %}
                                    
                                <ul class="pagination">
                                    {% if current == 0 %}
                                        <li class="page-item disabled">
                                            <span class="page-link" tabindex="-1" aria-disabled="true">Previous</span>
                                        </li>
                                    {% elseif current >= 1 %}
                                        <li class="page-item">
                                            <a class="page-link" href="/show/{{ previous }}/page/moderator" tabindex="-1" aria-disabled="false">Previous</a>
                                        </li>
                                    {% endif %}
                                    

                                    {% for button in buttons %}
                                        <li class="page-item">
                                            {% if button.0 == current %}
                                                <a href="/show/{{button.0}}/page/moderator" class="page-link">
                                                    <span class="badge badge-primary">{{button.0 + 1}}</span>
                                                </a>
                                            {% else %}
                                                <a href="/show/{{button.0}}/page/moderator" class="page-link">
                                                    {{button.0 + 1}}
                                                </a>
                                            {% endif %}
                                        </li>
                                    {% endfor %}

                                    
                                    {% if buttons|length > current + 1 %}
                                        <li class="page-item">
                                            <a class="page-link" href="/show/{{ next }}/page/moderator" tabindex="+1" aria-disabled="false">Next</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <span class="page-link" tabindex="-1" aria-disabled="true">Next</span>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        {% endif %}
                    </div>
                </div>
                
            </div>
        </div>
    {% endblock %}

    {% block javascripts %}
        {{parent()}}
    {% endblock %}

    {% block js %}
        {{parent()}}

        <script>
            const GAMES_LIST = {{ games | json_encode() | raw }};
            const STATUS_LIST = [
                {"id": 1, "title": "Ожидает"},
                {"id": 2, "title": "Действующий"},
                {"id": 3, "title": "Изгнан"},
                {"id": 4, "title": "Отклонен"},
                {"id": 5, "title": "Сам ушел"},
            ];

            class ModeratorViewModel {
                constructor () {
                    self = this;
                    this.project = ko.observable ();
                    this.status = ko.observable ();
                    self.moderatorsData = ko.observableArray ();
                    self.havingFoundModerators = ko.observable (false);

                    this.filterData = {
                        'project': null,
                        'status': null
                    };
                }

                checkingFilterOnChange () {
                    $('#project').change (function () {
                        self.havingFoundModerators (false);
                    });
                    $('#status').change (function () {
                        self.havingFoundModerators (false);
                    });
                }

                getDataByFilter () {
                    this.filterData.project = this.project ();
                    this.filterData.status = this.status ();

                    $.ajax ({
                        url: "{{path('sorted-moderator-list')}}",
                        type: "POST",
                        dataType: "JSON",
                        data: this.filterData,
                        success: function (response) {
                            self.moderatorsData (response);
                            self.havingFoundModerators (true);
                        }
                    });
                }
            }

            $(document).ready (function () {
                let moderatorVM = new ModeratorViewModel ();
                let moderatorBlock = document.getElementById ('moderatorBlock');
                ko.applyBindings (moderatorVM, moderatorBlock);
                moderatorVM.checkingFilterOnChange ();
            });

            ko.cleanNode (moderatorBlock);
        </script>
    {% endblock %}
{% endblock %}
