{% extends "./base.html.twig" %}

{% block head %}
    {{parent()}}
    {% block stylesheets %}
        <style>
        a{
            color: #D8D8D8;
            font-size: 18px;
            line-height: 1.2; 
            position: relative; 
            padding: 19px;
            cursor: pointer;
        }
        .positive:after {
            content: "";
            height: 100%;
            min-width: 4px;
            background: #BEF781;
            position: absolute;
            left: 0;
            bottom: 0;
            transition: .4s;
        }
        .positive:hover:after {
            min-width: 100%;
            background: #2EFE2E;
            opacity: .25;
        }
        .netral:after {
            content: "";
            height: 100%;
            min-width: 4px;
            background: #ECCEF5;
            position: absolute;
            left: 0;
            bottom: 0;
            transition: .5s;
        }
        .netral:hover:after {
            min-width: 100%;
            background: #ECCEF5;
            opacity: .25;
        }
        .negative:after {
            content: "";
            height: 100%;
            min-width: 4px;
            background: #F5A9A9;
            position: absolute;
            left: 0;
            bottom: 0;
            transition: .4s;
        }
        .negative:hover:after {
            min-width: 100%;
            background: #FA5858;
            opacity: .25;
            }
        body{
            max-width: 100%;
            width:100%;
            position: absolute;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            height: 900px;
        }
        table{
            max-width: 100%;
            width: 100%;
            position: absolute;
            margin-top: 11%;
            margin-left: 9%;
        }
        td{
            padding:18px;
            margin-left:35px;
            text-align:left;
        }
        </style>
    {% endblock %}
{% endblock %}

{% block body %}
    {{parent()}}
    {% block generator %}
        <table id="main">
          <tr>
            <td>
                <a class="positive" style="text-decoration:none;" onClick="getText (this)">
                    {{ russianPositive }}
                </a><br><br>
                <a class="positive" style="text-decoration:none" onClick="getText (this)">
                        {{ englishPositive }}
                </a><br /><br />
            </td>
          </tr>
          <tr>
            <td>
                <a class="netral" style="text-decoration:none" onClick="getText (this)">
                    {{ russianNetral }}
                </a><br><br>
                <a class="netral" style="text-decoration:none" onClick="getText (this)">
                    {{ englishNetral }}
                </a><br /><br />
            </td>
          </tr>
          <tr>
            <td>
                <a class="negative" style="text-decoration:none" onClick="getText (this)">
                    {{ russianNegative }}
                </a><br><br>
                <a class="negative" style="text-decoration:none" onClick="getText (this)">
                    {{ englishNegative }}
                </a><br /><br />
            </td>
          </tr>
        </table>
    {% endblock %}
{% endblock %}

{% block js %}
    {{parent()}}

    <script>
        function copy (str){
            let tmp   = document.createElement ('INPUT'), // Создаём новый текстовой input
                focus = document.activeElement; // Получаем ссылку на элемент в фокусе (чтобы не терять фокус)

                tmp.value = str; // Временному input вставляем текст для копирования

                document.body.appendChild (tmp); // Вставляем input в DOM
                tmp.select (); // Выделяем весь текст в input
                document.execCommand ('copy'); // Магия! Копирует в буфер выделенный текст (см. команду выше)
                document.body.removeChild (tmp); // Удаляем временный input
                focus.focus (); // Возвращаем фокус туда, где был
        }

        function getText (data) {
            copy (data.textContent);
            window.location.reload ();
        }
    </script>
{% endblock %}