{% extends "./User/index.html.twig" %}

{% block body %}
    {% block menu %}
        {{parent()}}
    {% endblock %}
    
    {% block main_body %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <form action="" id="problem_ticket_form">
                    <div class="form-group">
                        <div class="row" style="margin-top:10px;">
                            <div class="col-sm-2">
                                <button id="sendDataBtn" data-bind="click: sendDataBtnMethod" class="btn btn-success">
                                    Send
                                </button>
                            </div>

                            <div class="col-sm-2">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitcherChart" data-bind="checked: saveFormDataSwitcher">
                                    <label class="custom-control-label" for="customSwitcherChart">
                                    <span class="badge badge-warning">Switch to save mode</label></span>
                                </div>
                            </div>

                            <div class="col-md-8"></div>
                        </div><hr>


                        <div class="row" style="margin-top:10px;">
                            <div class="col">
                                <div data-bind="if: alertMessage">
                                    <div role="alert" data-bind="class: alertClass">
                                        <span data-bind="text: alertMessage"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label for="games">Games:</label>
                                <select data-bind="options: GAMES_LIST,
                                        optionsText: 'title',
                                        optionsValue: 'id',
                                        value: game,
                                        optionsCaption: 'Choose game'" class="custom-select custom-select-sm" id="games" required></select>
                            </div>

                            <div class="col">
                                <label for="versions">Versions:</label>
                                <select data-bind="options: SORTED_VERSIONS_LIST[game()],
                                        optionsText: 'title',
                                        optionsValue: 'id',
                                        value: version" class="custom-select custom-select-sm" id="versions" required></select>
                            </div>
                            
                            <div class="col">
                                <label for="platforms">Store:</label>
                                <select data-bind="options: STORES_LIST,
                                        optionsText: 'title',
                                        optionsValue: 'id',
                                        value: store,
                                        optionsCaption: 'Store'" class="custom-select custom-select-sm" id="platforms" required></select>
                            </div>

                            <div class="col">
                                <label for="tags">Tag:</label>
                                <select data-bind="options: TAGS_LIST,
                                        optionsText: 'description',
                                        optionsValue: 'id',
                                        value: tag,
                                        optionsCaption: 'Tag'" class="custom-select custom-select-sm" id="tags" required></select>
                            </div>

                            <div class="col">
                                <label for="markers">Marker:</label>
                                <select data-bind="options: SORTED_TAGS_MARKERS_LIST[tag()],
                                        optionsText: 'description',
                                        optionsValue: 'id',
                                        value: marker,
                                        optionsCaption: 'Tag Markers'" class="custom-select custom-select-sm" id="markers"></select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label for="inputDevice">Device:</label>
                                <input id="inputDevice" data-bind="textInput: inputDevice" class="form-control" required />
                            </div>

                            <div class="col">
                                <label for="inputOs">OS:</label>
                                <input id="inputOs" data-bind="textInput: inputOs" class="form-control" required />
                            </div>

                            <div class="col">
                                <label for="inputRam">RAM:</label>
                                <input id="inputRam" type="number" data-bind="textInput: inputRam" class="form-control" required />
                            </div>

                            <div class="col">
                                <label for="inputNote">Note:</label>
                                <input id="inputNote" type="textarea" data-bind="value: inputNote" class="form-control"/>
                            </div>

                            <div class="col">
                                <label for="createdAt">Created at:</label>
                                <input type="date" name="created" data-format="Y-m-d\TH:i:s" data-bind="value: createdAt" class="form-control">
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div><hr>
            <p class="lead">
                <a class="badge badge-secondary" href="{{ app.request.headers.get('referer') }}">Back</a>
            </p>
        </div>
    </div>
    {% endblock %}

    {% block javascripts %}
        {{parent()}}
    {% endblock %}

    {% block js %}
        {{parent()}}
        {% block form %}
            <script>
                const GAMES_LIST = {{ games | json_encode() | raw }};
                const VERSIONS_LIST = {{ versions | json_encode() | raw }};
                const SORTED_VERSIONS_LIST = {};

                if (Array.isArray (VERSIONS_LIST)) {
                    VERSIONS_LIST.map ((i) => {
                        if (SORTED_VERSIONS_LIST[i.game] !== undefined) {
                            SORTED_VERSIONS_LIST[i.game].push ({"id": i.id, "title": i.title, "game": [i.game]});
                        } else {
                            SORTED_VERSIONS_LIST[i.game] = [];
                            SORTED_VERSIONS_LIST[i.game].push ({"id": i.id, "title": i.title, "game": [i.game]});
                        }
                    });  
                }

                const MARKERS_LIST = {{ markers | json_encode () | raw }};
                const TAGS_LIST = {{ tags | json_encode () | raw }};
                const SORTED_TAGS_MARKERS_LIST = {};

                if (Array.isArray (MARKERS_LIST) || Array.isArray (TAGS_LIST)) {
                    MARKERS_LIST.map ((j) => {
                        if (SORTED_TAGS_MARKERS_LIST[j.tag] !== undefined) {
                            SORTED_TAGS_MARKERS_LIST[j.tag].push ({"id": j.id, "description": j.description, "tag": [j.tag]});
                        } else {
                            SORTED_TAGS_MARKERS_LIST[j.tag] = [];
                            SORTED_TAGS_MARKERS_LIST[j.tag].push ({"id": j.id, "description": j.description, "tag": [j.tag]});
                        }
                        
                    });
                }

                const STORES_LIST = {{ stores | json_encode () | raw }};

                var TICKET;
                {% if ticket is defined %}
                    TICKET = {{ ticket | json_encode() | raw }};
                    TICKET = JSON.parse (TICKET);
                {% endif %}

                class ProblemTicketStoreFormViewModel {
                    constructor () {
                        if (TICKET) {
                            if (TICKET.game.id) {
                                self.game = ko.observable (TICKET.game.id);
                            } else {
                                self.game = ko.observable (null);
                            }
                            
                            if (TICKET.tag) {
                                self.tag = ko.observable (TICKET.tag.id);
                            } else {
                                self.tag = ko.observable (null);
                            }

                            if (TICKET.store) {
                                self.store = ko.observable (TICKET.store.id);
                            } else {
                                self.store = ko.observable (null);
                            }

                            if (TICKET.marker) {
                                self.marker = ko.observable (TICKET.marker.id);
                            } else {
                                self.marker = ko.observable (null);
                            }

                            if (TICKET.version) {
                                self.version = ko.observable (TICKET.version.id);
                            } else {
                                self.version = ko.observable (null);
                            }

                            if (TICKET.device) {
                                self.inputDevice = ko.observable (TICKET.device);
                            } else {
                                self.inputDevice = ko.observable (null);
                            }

                            if (TICKET.os) {
                                self.inputOs = ko.observable (TICKET.os);
                            } else {
                                self.inputOs = ko.observable (null);
                            }

                            if (TICKET.ram) {
                                self.inputRam = ko.observable (TICKET.ram);
                            } else {
                                self.inputRam = ko.observable (null);
                            }

                            if (TICKET.note) {
                                self.inputNote = ko.observable (TICKET.note);
                            } else {
                                self.inputNote = ko.observable (null);
                            }

                            if (TICKET.created.timestamp) {
                                var created = TICKET.created.timestamp;
                                created = moment.unix(created).format("YYYY/MM/DD").split("/").join("-");

                                self.createdAt = ko.observable (created);
                            } else {
                                self.createdAt = ko.observable (null);
                            }

                            if (TICKET.id) {
                                self.editedId = TICKET.id;
                            } else {
                                self.editedId = null;
                            }

                            self.saveFormDataSwitcher = ko.observable (false);
                        } else {
                            self.game = ko.observable ();
                            self.tag = ko.observable ();
                            self.store = ko.observable ();
                            self.marker = ko.observable ();
                            self.version = ko.observable ();
                            self.inputDevice = ko.observable ();
                            self.inputRam = ko.observable (1);
                            self.inputOs = ko.observable ();
                            self.inputNote = ko.observable ();
                            self.createdAt = ko.observable ();
                            self.editedId = null;

                            self.saveFormDataSwitcher = ko.observable (false);
                        }
                        
                        {# Alerrting messages #}
                        self.alertMessage = ko.observable ();
                        self.alertClass = ko.observable ();
                        
                        {# Data for request #}
                        const formData = {};
                    }

                    sendDataBtnMethod () {
                        self.formData = {
                            "game": self.game (),
                            "version": self.version (),
                            "store": self.store (),
                            "tag": self.tag (),
                            "marker": self.marker (),
                            "device": self.inputDevice (),
                            "os": self.inputOs (),
                            "ram": self.inputRam (),
                            "note": self.inputNote (),
                            "created": self.createdAt ()
                            };  
                        console.log (self.saveFormDataSwitcher ());
                        function switchToSaveMode () {
                            if (self.saveFormDataSwitcher () !== false) {
                                self.tag (null);
                                self.marker (null);
                                self.inputNote (null);
                            } else if (self.saveFormDataSwitcher () !== true) {
                                self.tag (null);
                                self.marker (null);
                                self.inputDevice (null);
                                self.inputOs (null);
                                self.inputRam (1);
                                self.inputNote (null);
                            }
                        }

                        $.ajax({
                            url: "{{ path('create-problem-ticket-store') }}" + "/" + self.editedId,
                            type: "POST",
                            dataType: "JSON",
                            data: self.formData,
                            success: function (response) {
                                if (self.editedId !== null) {
                                    self.alertMessage ("Successfully updated");
                                    self.alertClass ('alert alert-success');

                                    window.location.replace("{{path('show-problem-tickets-store-page')}}");
                                } else {
                                    self.alertMessage ("Successfully added");
                                    self.alertClass ('alert alert-success');
                                    
                                    switchToSaveMode ();
                                }
                            },
                            error: function (response) {
                                self.alertMessage ("Unsuccessfully");
                                self.alertClass ('alert alert-danger');
                            }
                        });
                    }
                        
                };

                $(document).ready (function () {
                    let problemTicketStoreFormVM = new ProblemTicketStoreFormViewModel ();
                    ko.applyBindings (problemTicketStoreFormVM, document.getElementById('problem_ticket_form'));
                });

                ko.cleanNode(document.getElementById('problem_ticket_form'));
            </script>
        {% endblock %}
    {% endblock %}
{% endblock %}