{% extends "./Admin/index.html.twig" %}

{% block sonata_page_content %}
    <div class="container" style="margin:15px">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    {{ form_start(form) }}
                        {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="lead">
                    <a class="badge badge-secondary" href="{{ app.request.headers.get('referer') }}">Back</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}