{% extends "./User/index.html.twig" %}

{% block head %}
    {{parent()}}
{% endblock %}

{% block body %}
    {% block menu %}
        {{parent()}}
    {% endblock %}

    {% block main_body %}
        <div class="container-fluid" id="chart">
            <div class="row">
                <div class="col"><br />
                    <p>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Filters
                        </button>
                    </p>

                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitcherChart" data-bind="checked: switcher, click: getCharts ()">
                        <label class="custom-control-label" for="customSwitcherChart">
                        <span class="badge badge-warning">Switch Percent/Columns</label></span>
                    </div>

                    <div class="dropdown-divider"></div>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            <select data-bind="options: LOCATION_LIST,
                                            optionsText: 'case',
                                            optionsValue: 'case',
                                            value: choiseLocation,
                                            optionsCaption: 'Choose location'" class="custom-select custom-select-sm" id="location">
                            </select><br />
                            <form data-bind="visible: choiseLocation">
                                <div class="col">
                                    <select data-bind="options: GAMES_LIST,
                                            optionsText: 'title',
                                            optionsValue: 'id',
                                            value: game,
                                            optionsCaption: 'Choose game'" class="custom-select custom-select-sm" id="games"></select>
                                            <div class="dropdown-divider"></div>

                                    <select data-bind="options: SORTED_VERSIONS_LIST[game()],
                                            optionsText: 'title',
                                            optionsValue: 'id',
                                            value: version,
                                            optionsCaption: 'Version', disable: choiseLocation() == 'Community'" class="custom-select custom-select-sm" id="games"></select>
                                            <div class="dropdown-divider"></div>
                                    
                                    <select data-bind="options: SERVERS_LIST,
                                            optionsText: 'title',
                                            optionsValue: 'id',
                                            value: server,
                                            optionsCaption: 'Server', enable: choiseLocation() !== 'Store'" class="custom-select custom-select-sm" id="games"></select>
                                            <div class="dropdown-divider"></div>

                                    <select data-bind="options: PLATFORMS_LIST,
                                            optionsText: 'title',
                                            optionsValue: 'id',
                                            value: platform,
                                            optionsCaption: 'Platform', disable: store, disable: choiseLocation() == 'Community'" class="custom-select custom-select-sm" id="games"></select>
                                            <div class="dropdown-divider"></div>

                                    <select data-bind="options: STORES_LIST,
                                            optionsText: 'title',
                                            optionsValue: 'id',
                                            value: store,
                                            optionsCaption: 'Store', disable: platform, enable: choiseLocation() == 'Store'" class="custom-select custom-select-sm" id="games"></select>
                                            <div class="dropdown-divider"></div>

                                    <select data-bind="options: TAGS_LIST,
                                            optionsText: 'description',
                                            optionsValue: 'id',
                                            value: tag,
                                            optionsCaption: 'Tag'" class="custom-select custom-select-sm" id="games"></select>
                                            <div class="dropdown-divider"></div>

                                    <select data-bind="options: YEAR_LIST,
                                            optionsText: 'case',
                                            optionsValue: 'case',
                                            value: year,
                                            optionsCaption: 'Year'" class="custom-select custom-select-sm" id="location">
                                    </select><br />
                                </div>
                                <div class="dropdown-divider"></div>
                            </form>

                            <button class="btn btn-success" type="button" data-toggle="collapse" aria-expanded="false" data-bind="click: getCharts (), enable: year()">
                                Apply Filter
                            </button>
                        </div>
                    </div>
                    <div>
                        <div id="containerBase"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div>
                        <div id="containerChild"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div>
                        <div id="containerPie" style="display:none"></div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    
    {% block javascripts %}
        {{parent()}}
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/data.js"></script>
        <script src="https://code.highcharts.com/modules/drilldown.js"></script>
        <script src="https://code.highcharts.com/modules/series-label.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src={{ absolute_url( asset('assets/js/Charts/Configs/ConfigChartByYear.js')) }}></script>
        <script src={{ absolute_url( asset('assets/js/Charts/Configs/ConfigChartByMonth.js')) }}></script>
        <script src={{ absolute_url( asset('assets/js/Charts/Configs/ConfigChartPieByYearWithMonths.js')) }}></script>
        <script src={{ absolute_url( asset('assets/js/Charts/Models/ChartModel.js')) }}></script>
    {% endblock %}

    {% block js %}
        {{ parent()}}
        <script>
            const GAMES_LIST = {{ games | json_encode() | raw }};
            const SERVERS_LIST = {{ servers | json_encode() | raw }};
            const PLATFORMS_LIST = {{ platforms | json_encode() | raw }};
            const TAGS_LIST = {{ tags | json_encode() | raw }};
            const STORES_LIST = {{ stores | json_encode() | raw }};
            const VERSIONS_LIST = {{ versions | json_encode() | raw }};

            const SORTED_VERSIONS_LIST = {};
            if (Array.isArray (VERSIONS_LIST)) {
                VERSIONS_LIST.map ((i) => {
                    if (SORTED_VERSIONS_LIST[i.game] !== undefined) {
                        SORTED_VERSIONS_LIST[i.game].push ({"id": i.id, "title": i.title, "game": [i.game]});
                    } else {
                        SORTED_VERSIONS_LIST[i.game] = [];
                        SORTED_VERSIONS_LIST[i.game].push ({"id": i.id, "title": i.title, "game": [i.game]});
                    }
                });  
            }

            const LOCATION_LIST = [
                {"case": "Feedback"},
                {"case": "Community"},
                {"case": "Store"},
            ];

            const YEAR_LIST = [
                {"case": 2018},
                {"case": 2019},
                {"case": 2020},
            ];
        </script>
    {% endblock %}
{% endblock %}