{% extends "./User/index.html.twig" %}

{% block body %}
    {% block menu %}
        {{parent()}}
    {% endblock %}
    
    {% block main_body %}
        <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark p-4">
                    <div class="container">
                        <div class="row">
                            <div class="d-flex p-2">
                                <div class="col">
                                    <div id="pieChartFeedbackTickets" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
                                </div>
                                <div class="w-100"></div>
                                <div class="col">
                                    <div id="pieChartStoreTickets" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
                                </div>
                                <div class="w-100"></div>
                                <div class="col">
                                    <div id="pieChartCommunityTickets" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
                                </div>
                                <div class="col"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </div>

        <div class="container-fluid">
            <div class"row">
                <div class="d-flex p-2">
                    <div class="col">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Project</th>
                                    <th scope="col">2 month ago <p class="font-weight-light"><span class="badge badge-success">Feedbacks</span> / <span class="badge badge-warning">Stores</span></p></th>
                                    <th scope="col">1 month ago <p class="font-weight-light"><span class="badge badge-success">Feedbacks</span> / <span class="badge badge-warning">Stores</span></p></th>
                                    <th scope="col">Current month <p class="font-weight-light"><span class="badge badge-success">Feedbacks</span> / <span class="badge badge-warning">Stores</span></p></th>
                                    <th scope="col">Deleted accounts <p class="font-weight-light"><span class="badge badge-danger">Red</span> : Need remove</p></th>
                                    <th scope="col">Moderators <p class="font-weight-light"><span class="badge badge-danger">Red</span> : Need Check</p></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for id, game in formedGames %}
                                    <tr>
                                        <th scope="row"><img src={{ absolute_url( asset('assets/img/'~ id ~'.png')) }} type="image" width="50" height="50" class="rounded">
                                            <span class="badge badge-secondary">
                                                {% if game[0].title is defined %}
                                                    {{ game[0].title }}
                                                {% endif %}
                                            </span>
                                        </th>

                                        <td>
                                            <span class="badge badge-success">
                                                {% if game[3].y is defined %}
                                                    {{ game[3].y }}
                                                {% endif %}
                                            </span>
                                            <span class="badge badge-warning">
                                                {% if game[6].y is defined %}
                                                    {{ game[6].y }}
                                                {% endif %}
                                            </span>
                                        </td>

                                        <td>
                                            <span class="badge badge-success">
                                                {% if game[2].y is defined %}
                                                    {{ game[2].y }}
                                                {% endif %}
                                            </span>
                                            <span class="badge badge-warning">
                                                {% if game[5].y is defined %}
                                                    {{ game[5].y }}
                                                {% endif %}
                                            </span>
                                        </td>

                                        <td>
                                            <span class="badge badge-success">
                                                {% if game[1].y is defined %}
                                                    {{ game[1].y }}
                                                {% endif %}
                                            </span>
                                            <span class="badge badge-warning">
                                                {% if game[4].y is defined %}
                                                    {{ game[4].y }}
                                                {% endif %}
                                            </span>
                                        </td>

                                        <td>
                                            {% if game[12].deletedAccounts is defined %}
                                                <span class="badge badge-warning">{{ game[12].deletedAccounts }}</span>
                                            {% endif %}

                                            {% if game[11].deletedAccounts is defined %}
                                                <span class="badge badge-danger">{{ game[11].deletedAccounts }}</span>
                                            {% endif %}
                                        </td>

                                        <td>
                                            <span class="badge badge-success">
                                                {% if game[7].moderators is defined %}
                                                    Asia: {{ game[7].moderators }}
                                                {% endif %}
                                            </span>
                                                {% if game[9].moderators is defined %}
                                                    <span class="badge badge-danger">{{ game[9].moderators }}</span>
                                                {% endif %}
                                            <br>
                                            <span class="badge badge-warning">
                                                {% if game[8].moderators is defined %}
                                                    Europe: {{ game[8].moderators }}
                                                {% endif %}
                                            </span>
                                                {% if game[10].moderators is defined %}
                                                    <span class="badge badge-danger">{{ game[10].moderators }}</span>
                                                {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block javascripts %}
            {{parent()}}
            <script src="https://code.highcharts.com/highcharts.js"></script>
            <script src="https://code.highcharts.com/modules/series-label.js"></script>
            <script src="https://code.highcharts.com/modules/exporting.js"></script>
            <script src="https://code.highcharts.com/modules/export-data.js"></script>
    {% endblock %}

    {% block js %}
        {{ parent()}}
        <script>
            const CONFIG = {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Feedback-tickets by Game for month'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    name: 'Tickets',
                    colorByPoint: true,
                    data: []
                }]
            };

            var chartFeedbackPieByGames = Highcharts.chart('pieChartFeedbackTickets', CONFIG);
            var chartStorePieByGames = Highcharts.chart('pieChartStoreTickets', CONFIG);
            var chartCommunityPieByGames = Highcharts.chart('pieChartCommunityTickets', CONFIG);

            $.ajax ({
                url: "{{ path('chart-feedback-pie-by-games') }}",
                dataType: "json",
                success: function (response) {
                    response.map(function (game){
                        game.y = Number (game.y)
                    })
                    
                    CONFIG.title.text = "<b>Support:</b> Feedback-tickets by Game for month";
                    CONFIG.series[0].data = response;
                    var chartFeedbackPieByGames = Highcharts.chart('pieChartFeedbackTickets', CONFIG);
                } 
            });

            $.ajax ({
                url: "{{ path('chart-store-pie-by-games') }}",
                dataType: "json",
                success: function (response) {
                    response.map(function (game){
                        game.y = Number (game.y)
                    })
                    
                    CONFIG.title.text = "<b>Support:</b> Store-tickets by Game for month";
                    CONFIG.series[0].data = response;
                    var chartStorePieByGames = Highcharts.chart('pieChartStoreTickets', CONFIG);
                } 
            });

            $.ajax ({
                url: "{{ path('chart-community-pie-by-games') }}",
                dataType: "json",
                success: function (response) {
                    response.map(function (game){
                        game.y = Number (game.y)
                    })
                    
                    CONFIG.title.text = "<b>Community:</b> Community-tickets by Game for month";
                    CONFIG.series[0].data = response;
                    var chartStorePieByGames = Highcharts.chart('pieChartCommunityTickets', CONFIG);
                } 
            });
        </script>
    {% endblock %}
{% endblock %}