{% extends "./User/index.html.twig" %}

{% block head %}
    {{parent()}}
{% endblock %}

{% block body %}

    {% block menu %}
        {{parent()}}
    {% endblock %}

    {% block main_body %}
        <div class="jumbotron">
            <div style="margin-left:8%; margin-right:8%;">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm"><h2 style="opacity: 0.4; transition: all 0.7s;" class="font-italic"><u><b>"Feedback Tickets"</b> module</u></h2></div>
                </div>
                <div class="row">
                    <div class="col-xl">
                        <a href="{{ path("action-problem-ticket") }}" class="badge badge-light">Add new ticket</a>
                    </div>
                </div>

                <div class="row" style="margin-top:15px;">
                    <div class="col-xl">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Game</th>
                                    <th scope="col">Player Id</th>
                                    <th scope="col">Server</th>
                                    <th scope="col">Version</th>
                                    <th scope="col">Platform</th>
                                    <th scope="col">Tag</th>
                                    <th scope="col">Tag's marker</th>
                                    <th scope="col">Created at</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for ticket in problem_tickets %}
                                    <tr>
                                        <th scope="row"><a href="{{ path('show-one-problem-ticket', {id: ticket.id}) }}">{{ ticket.getId() }}</a></th>
                                        <td>{{ ticket.getGame().getTitle() }}</td>
                                        <td>{{ ticket.getPlayerId() }}</td>
                                        <td>{{ ticket.getServer().getTitle() }}</td>
                                        <td>{{ ticket.getVersion().getTitle() }}</td>
                                        <td>{{ ticket.getPlatform().getTitle() }}</td>
                                        <td><span class="badge badge-light">{{ ticket.getTag().getDescription() }}</span></td>
                                        <td><span class="badge badge-light">{{ ticket.getMarker().getDescription() }}</span></td>
                                        <td>{{ ticket.getCreated()|date("d/m/Y") }}</td>
                                        <td><a href="{{ path('action-problem-ticket', {id: ticket.id}) }}" class="btn btn-warning">Edit</a></td>
                                        <td><a href="{{ path('delete-problem-ticket', {id: ticket.id}) }}" class="btn btn-danger">Delete</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>    
                    </div>
                </div><hr>

                <div class="row">
                    <div class="col-sm">
                        {% if buttons[0] is defined %}
                            <nav aria-label="...">
                                {% set next = current + 1 %}
                                {% set previous = current - 1 %}
                                    
                                <ul class="pagination">
                                    {% if current == 0 %}
                                        <li class="page-item disabled" style="opacity: 0.5">
                                            <a class="page-link" href="/show/0/page/problem-ticket" tabindex="-1" aria-disabled="true">First</a>
                                        </li>

                                        <li class="page-item disabled" style="opacity: 0.8">
                                            <span class="page-link" tabindex="-1" aria-disabled="true">Previous</span>
                                        </li>
                                    {% elseif current >= 1 %}
                                        <li class="page-item" style="opacity: 0.5">
                                            <a class="page-link" href="/show/0/page/problem-ticket" tabindex="-1" aria-disabled="false">First</a>
                                        </li>

                                        <li class="page-item" style="opacity: 0.8">
                                            <a class="page-link" href="/show/{{ previous }}/page/problem-ticket" tabindex="-1" aria-disabled="false">Previous</a>
                                        </li>
                                    {% endif %}
                                    

                                    {% for button in buttons %}
                                        {% if not button.0 is null %}
                                            <li class="page-item">
                                                {% if button.0 == current %}
                                                    <a href="/show/{{button.0}}/page/problem-ticket" class="page-link">
                                                        <span class="badge badge-primary">{{button.0 + 1}}</span>
                                                    </a>
                                                {% else %}
                                                    <a href="/show/{{button.0}}/page/problem-ticket" class="page-link">
                                                        {{button.0 + 1}}
                                                    </a>
                                                {% endif %}
                                            </li>
                                        {% endif %}
                                    {% endfor %}

                                    
                                    {% if buttons|length > current + 1 %}
                                        <li class="page-item" style="opacity: 0.8">
                                            <a class="page-link" href="/show/{{ next }}/page/problem-ticket" tabindex="+1" aria-disabled="false">Next</a>
                                        </li>

                                        <li class="page-item" style="opacity: 0.5">
                                            <a class="page-link" href="/show/{{ buttons|length - 1 }}/page/problem-ticket" tabindex="+1" aria-disabled="false">Last</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled" style="opacity: 0.8">
                                            <span class="page-link" tabindex="-1" aria-disabled="true">Next</span>
                                        </li>

                                        <li class="page-item disabled" style="opacity: 0.5">
                                            <a class="page-link" href="/show/{{ buttons|length - 1 }}/page/problem-ticket" tabindex="-1" aria-disabled="true">Last</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block javascripts %}
        {{parent()}}
    {% endblock %}

    {% block js %}
        {{parent()}}
    {% endblock %}
{% endblock %}