{% extends "./User/index.html.twig" %}

{% block head %}
    {{parent()}}
{% endblock %}

{% block body %}

    {% block menu %}
        {{parent()}}
    {% endblock %}

    {% block main_body %}
        <div class="jumbotron">
            <h1 class="display-4" style="opacity:0.7;"><b>{{ problem_ticket.getGame ().getTitle () }}</b> ticket</h1>
            <p class="lead">
                <div class="row" style="margin-top:15px;">
                    <div class="col-xl">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Player Id</th>
                                    <th scope="col">Server</th>
                                    <th scope="col">Version</th>
                                    <th scope="col">Platform</th>
                                    <th scope="col">Tag</th>
                                    <th scope="col">Marker</th>
                                    <th scope="col">Created at</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <th scope="row"><a href="{{ path('show-one-problem-ticket') }}">{{ problem_ticket.getId() }}</a></th>
                                    <td>{{ problem_ticket.getPlayerId() }}</td>
                                    <td>{{ problem_ticket.getServer().getTitle() }}</td>
                                    <td>{{ problem_ticket.getVersion().getTitle() }}</td>
                                    <td>{{ problem_ticket.getPlatform().getTitle() }}</td>
                                    <td>{{ problem_ticket.getTag().getDescription() }}</td>
                                    <td>{{ problem_ticket.getMarker().getDescription() }}</td>
                                    <td>{{ problem_ticket.getCreated()|date("m/d/Y") }}</td>
                                    <td><a href="{{ path('action-problem-ticket', {id: problem_ticket.getId()}) }}" class="btn btn-warning">Edit</a>
                                    <a href="{{ path('delete-problem-ticket', {id: problem_ticket.getId() }) }}" class="btn btn-danger">Delete</a></td>
                                </tr>
                            </tbody>
                        </table>    
                    </div>
                </div>
            </p>
            <hr class="my-4">
            <h3 class="display-7" style="opacity:0.7;"><b>Description:</b> {{ problem_ticket.getNote () }}</h3>
            <h4 class="display-7" style="opacity:0.6;"><b>Link:</b> <a href="{{ problem_ticket.getLink () }}">{{ problem_ticket.getLink () }}</a></h4><hr>
            <p class="lead">
                <a class="badge badge-secondary" href="{{ app.request.headers.get('referer') }}">Back</a>
            </p>
        </div>
    {% endblock %}

    {% block javascripts %}
        {{parent()}}
    {% endblock %}

    {% block js %}
        {{parent()}}
    {% endblock %}
{% endblock %}