{% extends "./Admin/index.html.twig" %}

{% block sonata_page_content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-.">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Platform #ID:</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>{{ platform.title}}</td>
                            <td>{{ platform.id }}</td>
                            <td><a href="{{ path('edit-platform', {id: platform.id}) }}" class="btn btn-warning">Edit</a></td>
                            <td><a href="{{ path('delete-platform', {id: platform.id}) }}" class="btn btn-danger">Delete</a></td>
                        </tr>
                    </tbody>
                </table>    
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="lead">
                    <a class="badge badge-secondary" href="{{ app.request.headers.get('referer') }}">Back</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}