{% extends '@WebProfiler/Profiler/layout.html.twig' %}
    {% block head %}
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="shortcut icon" href="{{ asset('assets/img/build/favicon.ico')}}" type="image/x-icon">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
            <script src="https://api.trello.com/1/client.js?key=f36e73c0c020459b86003b58949503c6"></script>
            <link rel="shortcut icon" type="image/x-icon" href="{{  asset('assets/img/icon_sup.ico') }}" />
            
            <title>{% block title %}ExDevs Support{% endblock %}</title>

            {% block stylesheets %}
            {% endblock %}
        </head>
    {% endblock %}

    {% block body %}
        {% block menu %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/"><i class="fas fa-bars">Home</i></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">Support</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('show-problem-tickets-page') }}">Tickets</a>
                                <a class="dropdown-item" href="{{ path('show-problem-tickets-store-page') }}">Stores</a>
                            <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path("show-deleted-accounts-page") }}">Deleted accounts</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">Community</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('show-problem-tickets-community-page') }}">Tickets</a>
                            <a class="dropdown-item" href="{{ path('show-moderators-page') }}">Moderators</a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">Admin's</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/admin/dashboard">Control panel</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('show-charts') }}">Statistics</a>
                        </li>
                        <li class="nav-item" id="AddNewTaskContainer">
                            <a class="nav-link" data-bind="click: addNewTask" id="addNewTask" style="cursor: pointer;">Create task</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('full-search') }}">Search</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('answer-generator') }}">Generator</a>
                        </li>
                    </ul>

                    <div id="userBar">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">
                                        {% if app.user.username is defined %}
                                            <span class="badge badge-info">{{ app.user.username }}</span>
                                        {% endif %}
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                            <a class="dropdown-item" href="/logout"  style="color:red;">LogOut</a>
                                        {% else %}
                                            <a class="dropdown-item" href="/login" style="color:green;">LogIn</a>
                                        {% endif %}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div id="searchApp">
                        <form class="form-inline my-2 my-lg-0" name="search">
                            <select class="custom-select" style="width:100px; margin-right:8px;"
                                data-bind="options: SEARCH_TYPES,
                                            value: searchByType"></select>
                                            
                            <input class="form-control mr-sm-2" placeholder="Search" type="number"
                                    data-bind="value: id"
                                    data-validation="number"
                                    data-validation-error-msg="Numbers only" 
		                            data-validation-error-msg-container="#error-dialog-search">
                            <button type="button" class="btn btn-outline-success my-2 my-sm-0" 
                                    data-bind="click: getResponse" data-toggle="modal" data-target=".bd-example-modal-sm">Search</button>
                        </form>

                        <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" height="100px">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <hr>
                                        <h5 align="center" valign="center">Search</h5>
                                    <hr>
                                    <table class="table table">
                                        <thead>
                                            <tr>
                                                <th scope="col">#Id</th>
                                                <th scope="col">Project</th>
                                                <th scope="col">Version</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th>
                                                <a data-bind="attr: { href: formedResponseLink, title: formedResponseView }, text: projectId"></a>
                                            </th>
                                            <th>
                                                <a data-bind="attr: { href: formedResponseLink, title: formedResponseView }, text: projectTitle"></a>
                                            </th>
                                            <th>
                                                <a data-bind="attr: { href: formedResponseLink, title: formedResponseView }, text: projectVersion"></a>
                                            </th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </nav>
        {% endblock %}  
    
    {% block main_body %}
    {% endblock %}

    {% block javascripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
        <script src="https://api.trello.com/1/client.js?key=f36e73c0c020459b86003b58949503c6"></script>
        <script src="http://momentjs.com/downloads/moment.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src={{  asset('assets/knockstrap-1.4.0/build/knockstrap.js') }}></script>

        
    {% endblock %}

    {% block js %}
        <script>
            const SEARCH_TYPES = [
                'Filter',
                'tickets',
                'stores',
                'moderators',
            ];

            class QuickSearchModel {
                constructor () {
                    this.data = {};
                    this.id = ko.observable ();
                    this.searchByType = ko.observable ();
                    this.formedResponseLink = ko.observable ();
                    this.formedResponseView = ko.observable ();
                    this.projectId = ko.observable ();
                    this.projectTitle = ko.observable ();
                    this.projectVersion = ko.observable ();
                }

                async getResponse () {
                    var url = '/find-by/' + this.searchByType () + '/' + this.id ();
                    var ajaxResponse = await fetch (url);
                    var ajaxParsedResponse = JSON.parse (await ajaxResponse.json ());

                    if (ajaxParsedResponse.id && ajaxParsedResponse.game && ajaxParsedResponse.version.title !== undefined) {
                        this.getFormedResponseLink (this.id ());
                        this.getFormedResponseView (ajaxParsedResponse.id, ajaxParsedResponse.game.title);
                        this.setSearchResponseVisible ();

                        this.projectId (ajaxParsedResponse.id);
                        this.projectTitle (ajaxParsedResponse.game.title);
                        this.projectVersion (ajaxParsedResponse.version.title);
                    } else {
                        alert ('Ooops, nothing');
                    }
                }

                getFormedResponseLink (responseId) {
                    if (this.searchByType() == "tickets") {
                        return this.formedResponseLink ("http://supports.webtm.ru/show/" + responseId + "/problem-ticket");
                    }

                    if (this.searchByType() == "stores") {
                        return this.formedResponseLink ("http://supports.webtm.ru/show/" + responseId + "/problem-ticket-store");
                    }

                    if (this.searchByType() == "moderators") {
                        return this.formedResponseLink ("http://supports.webtm.ru/show/" + responseId + "/moderator");
                    }
                }

                getFormedResponseView (responseId, responseGame) {
                    return this.formedResponseView ('#' + responseId + ' ' + responseGame);
                }

                setSearchResponseVisible () {
                    $('#searchResponse').removeAttr ('style');
                }
            }

            class AddTaskModel {
                addNewTask () {
                    var username = "{{ app.user.username }}";

                    window.Trello.addCard({url: username});
                }
            }

            $(document).ready (function () {
                ko.applyBindings (new AddTaskModel, document.getElementById ("AddNewTaskContainer"));
                ko.applyBindings (new QuickSearchModel, document.getElementById ("searchApp"));
            });

            ko.cleanNode (document.getElementById ("AddNewTaskContainer"));
        </script>
    {% endblock %}
{% endblock %}