{% extends "base.html.twig" %}

{% block head %}
    {{parent()}}
{% endblock %}

{% block body %}
    {% block menu %}
        {{parent()}}
    {% endblock %}

    {% block main_body %}
        {{parent()}}
    {% endblock %}

    {% block javascripts %}
        {{parent()}}
    {% endblock %}

    {% block js %}
        {{parent()}}
    {% endblock %}
{% endblock %}