{% extends "./User/index.html.twig" %}

{% block head %}
    {{parent()}}
{% endblock %}

{% block body %}

    {% block menu %}
        {{parent()}}
    {% endblock %}

    {% block main_body %}
        <div class="jumbotron">
            <h1 class="display-4" style="opacity:0.7;"><b>{{ deleted_account.getGame ().getTitle () }}</b> ticket</h1>
            <p class="lead">
                <div class="row" style="margin-top:15px;">
                    <div class="col-xl">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Game</th>
                                    <th scope="col">Player Id</th>
                                    <th scope="col">Server</th>
                                    <th scope="col">Nickname</th>
                                    <th scope="col">E-mail</th>
                                    <th scope="col">Is Deleted?</th>
                                    <th scope="col">Blocked At</th>
                                    <th scope="col">Will deleted At</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <th scope="row"><a href="{{ path('show-one-deleted-account') }}">{{ deleted_account.getId() }}</a></th>
                                    <td>{{ deleted_account.getGame().getTitle() }}</td>
                                    <td>{{ deleted_account.getPlayerId() }}</td>
                                    <td>{{ deleted_account.getServer().getTitle() }}</td>
                                    <td>{{ deleted_account.getNickname() }}</td>
                                    <td>{{ deleted_account.getEmail() }}</td>
                                    <td>
                                        {% if deleted_account.getIsDeleted() > 0 %} 
                                            <span class="badge badge-pill badge-success">True</span>
                                        {% else %}
                                            <span class="badge badge-pill badge-danger">False</span>
                                        {% endif %}
                                    </td>
                                    <td>{{ deleted_account.getCreated()|date("d/m/Y") }}</td>
                                    <td>{{ deleted_account.getDeletedAt()|date("d/m/Y") }}</td>
                                    <td><a href="{{ path('action-deleted-account', {id: deleted_account.getId()}) }}" class="btn btn-warning">Edit</a>
                                    <a href="{{ path('delete-deleted-account', {id: deleted_account.getId() }) }}" class="btn btn-danger">Delete</a></td>
                                </tr>
                            </tbody>
                        </table>    
                    </div>
                </div>
            </p>
            <hr class="my-4">
            <h3 class="display-7" style="opacity:0.7;"><b>Description:</b> {{ deleted_account.getNote () }}</h3>
            <h4 class="display-7" style="opacity:0.6;"><b>Screenshot:</b> <a href="{{ deleted_account.getLink () }}">{{ deleted_account.getLink () }}</a></h4><hr>
            <p class="lead">
                <a class="badge badge-secondary" href="{{ app.request.headers.get('referer') }}">Back</a>
            </p>
        </div>
    {% endblock %}

    {% block javascripts %}
        {{parent()}}
    {% endblock %}

    {% block js %}
        {{parent()}}
    {% endblock %}
{% endblock %}