{% extends "./User/index.html.twig" %}

{% block body %}
    {% block menu %}
        {{parent()}}
    {% endblock %}
    
    {% block main_body %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <form action="" id="deleted_account_from">
                    <div class="form-group">
                        <div class="row" style="margin-top:10px;">
                            <div class="col">
                                <button id="sendDataBtn" data-bind="click: sendDataBtnMethod, attr: { disabled: isDisabled }" class="btn btn-success">
                                    Send
                                </button>

                                <div data-bind="if: alertMessage">
                                    <hr>
                                    <div role="alert" data-bind="class: alertClass">
                                        <span data-bind="text: alertMessage"></span>
                                    </div>
                                </div>
                            </div>
                        </div><hr>
                    </div>

                    <div class="form-group">
                        <div class="row">

                            <div class="col">
                                <label for="games">Games:</label>
                                <select data-bind="options: GAMES_LIST,
                                        optionsText: 'title',
                                        optionsValue: 'id',
                                        value: game,
                                        optionsCaption: 'Choose game'" class="custom-select custom-select-sm" id="games" required></select>
                            </div>

                            <div class="col">
                                <label for="servers">Server:</label>
                                <select data-bind="options: SERVERS_LIST,
                                        optionsText: 'title',
                                        optionsValue: 'id',
                                        value: server,
                                        optionsCaption: 'Server'" class="custom-select custom-select-sm" id="servers" required></select>
                            </div>

                            <div class="col">
                                <label>Status:</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <input id="isDeleted" type="checkbox" data-bind="checked: isDeleted" required />
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" value="Profile is deleted? " aria-label="Text input with checkbox">
                                </div>
                            </div>

                            <div class="col">
                                <label for="createdAt">Blocked At:</label>
                                <input type="date" name="created" data-format="Y-m-d\TH:i:s" data-bind="value: createdAt" class="form-control">
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col" id="error-dialog-player">
                                <label for="playerId">Player Id:</label>
                                <input id="playerId" data-bind="textInput: playerId" class="form-control" required 
                                    data-validation="number"
                                    data-validation-error-msg="Numbers only" 
		                            data-validation-error-msg-container="#error-dialog-player" type="number"/>
                            </div>

                            <div class="col" id="error-dialog-nickname">
                                <label for="nickname">Nickname:</label>
                                <input id="nickname" data-bind="textInput: nickname" class="form-control" required 
                                    data-validation="text"
                                    data-validation-error-msg="Text only" 
		                            data-validation-error-msg-container="#error-dialog-nickname" type="text" />
                            </div>

                            <div class="col" id="error-dialog-email">
                                <label for="email">E-mail:</label>
                                <input id="email" data-bind="textInput: email" class="form-control"/>
                            </div>

                            <div class="col" id="error-dialog-screenshot">
                                <label for="inputLink">Screenshot:</label>
                                <input id="inputLink" data-bind="textInput: inputLink" class="form-control" type="url" />
                            </div>

                            <div class="col">
                                <label for="inputNote">Note:</label>
                                <input id="inputNote" type="textarea" data-bind="value: inputNote" class="form-control" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div><hr>
        <p class="lead">
            <a class="badge badge-secondary" href="{{ app.request.headers.get('referer') }}">Back</a>
        </p>
    </div>
    {% endblock %}

    {% block javascripts %}
        {{parent()}}
    {% endblock %}

    {% block js %}
        {{parent()}}
        {% block form %}
            <script>
                const GAMES_LIST = {{ games | json_encode() | raw }};
                const SERVERS_LIST = {{ servers | json_encode () | raw }};
                {% if ticket is defined %}
                    const TICKET = JSON.parse ({{ ticket | json_encode() | raw }});
                {% else %}
                    const TICKET = 0;
                {% endif %}

                class DeletedAccountFormViewModel {
                    constructor () {
                        self.game = ko.observable (TICKET.game ? TICKET.game.id : '');
                        self.server = ko.observable (TICKET.server ? TICKET.server.id : '');
                        self.playerId = ko.observable (TICKET.playerId ? TICKET.playerId : '');
                        self.nickname = ko.observable (TICKET.nickname ? TICKET.nickname : '');
                        self.isDeleted = ko.observable (TICKET.isDeleted ? TICKET.isDeleted : '');
                        self.createdAt = ko.observable (TICKET.created ? moment(TICKET.created.timestamp*1000).format().split('T')[0] : '');
                        self.inputLink = ko.observable (TICKET.link ? TICKET.link : '');
                        self.inputNote = ko.observable (TICKET.note ? TICKET.note : '');
                        self.editedId = ko.observable (TICKET.id ? TICKET.id : null);
                        self.email = ko.observable ();
                        self.isDisabled = ko.observable (false);

                        {# Alerrting messages #}
                        self.alertMessage = ko.observable ();
                        self.alertClass = ko.observable ();
                        
                        const formData = {};
                    }

                    sendDataBtnMethod () {
                        
                        if (self.isDeleted () == false){
                            self.isDeleted ("");
                        }

                        self.formData = {
                                "game": self.game (),
                                "server": self.server (),
                                "player_id": self.playerId (),
                                "nickname": self.nickname (),
                                "email": self.email (),
                                "is_deleted": self.isDeleted (),
                                "link": self.inputLink (),
                                "note": self.inputNote (),
                                "created": self.createdAt ()
                            };  

                        $.ajax({
                            url: "{{ path('create-deleted-account') }}" + "/" + self.editedId (),
                            type: "POST",
                            dataType: "JSON",
                            data: self.formData,
                            success: function(response) {
                                if (self.editedId () !== null) {
                                    self.alertMessage ("Successfully updated");
                                    self.alertClass ('alert alert-success');

                                    window.location.replace("{{ path('show-deleted-accounts-page') }}");
                                } else {
                                    self.alertMessage ("Successfully added");
                                    self.alertClass ('alert alert-success');

                                    self.game (null);
                                    self.email (null);
                                    self.server (null);
                                    self.playerId (null);
                                    self.nickname (null);
                                    self.isDeleted (false);
                                    self.createdAt (null);
                                    self.inputLink (null);
                                    self.inputNote (null);
                                    
                                    window.location.replace("{{ path('show-deleted-accounts-page') }}");
                                }
                            },
                            error: function(response) {
                                self.alertMessage ("Unsuccessfully");
                                self.alertClass ('alert alert-danger');
                                
                                console.log (response);
                            }
                        });
                    }
                        
                };

                $(document).ready (function () {
                    let DeletedAccountFormVM = new DeletedAccountFormViewModel ();
                    ko.applyBindings (DeletedAccountFormVM, document.getElementById('deleted_account_from'));

                    var form = document.getElementById ("#deleted_account_from");
                    $(form).validate({
                        lang: 'ru', 
                        modules : 'html5',
                    });
                });

                ko.cleanNode(document.getElementById('deleted_account_from'));
            </script>
        {% endblock %}
    {% endblock %}
{% endblock %}