{% extends "./User/index.html.twig" %}

{% block head %}
    {{parent()}}
{% endblock %}

{% block body %}

    {% block menu %}
        {{parent()}}
    {% endblock %}

    {% block main_body %}
        <div class="jumbotron">
            <div style="margin-left:8%; margin-right:8%;">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col"><h2 style="opacity: 0.4; transition: all 0.7s;" class="font-italic">Module of <b>"Deleted Accounts"</b></h2></div>
                </div>
                <div class="row">
                    <div class="col">
                        <a href="{{ path("action-deleted-account") }}" class="badge badge-light">Add new request of delete account</a>
                        <a href="{{ path("deleted-accounts-by-time") }}" class="badge badge-light">
                            {% for counted_accounts in counter_by_all_time_to_delete %}
                                {% for counter in counted_accounts %}
                                    Accounts for romove : <span class="badge badge-warning">{{counter}}</span>
                                {% endfor %}
                            {% endfor %}
                        </a>
                    </div>
                </div>

                <div class="row" style="margin-top:15px;">
                    <div class="col-xl">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Game</th>
                                    <th scope="col">Player Id</th>
                                    <th scope="col">Server</th>
                                    <th scope="col">Nickname</th>
                                    <th scope="col">E-mail</th>
                                    <th scope="col">Is Deleted?</th>
                                    <th scope="col">Blocked At</th>
                                    <th scope="col">Will deleted At</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for deleted_account in deleted_accounts %}
                                    <tr>
                                        <th scope="row"><a href="{{ path('show-one-deleted-account', {id: deleted_account.id}) }}">{{ deleted_account.getId() }}</a></th>
                                        <td>{{ deleted_account.getGame().getTitle() }}</td>
                                        <td>{{ deleted_account.getPlayerId() }}</td>
                                        <td>{{ deleted_account.getServer().getTitle() }}</td>
                                        <td>{{ deleted_account.getNickname() }}</td>
                                        <td>{{ deleted_account.getEmail() }}</td>
                                        <td>
                                            {% if deleted_account.getIsDeleted() > 0 %} 
                                                <span class="badge badge-pill badge-success">True</span>
                                            {% else %}
                                                <span class="badge badge-pill badge-danger">False</span>
                                            {% endif %}
                                        </td>
                                        <td>{{ deleted_account.getCreated()|date("d/m/Y") }}</td>
                                        <td>{{ deleted_account.getDeletedAt()|date("d/m/Y") }}</td>
                                        <td><a href="{{ path('action-deleted-account', {id: deleted_account.id}) }}" class="btn btn-warning">Edit</a></td>
                                        <td><a href="{{ path('delete-deleted-account', {id: deleted_account.id}) }}" class="btn btn-danger">Delete</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>    
                    </div>
                </div><hr>

                <div class="row">
                    <div class="col-sm">
                        {% if buttons[0] is defined %}
                            <nav aria-label="...">
                                {% set next = current + 1 %}
                                {% set previous = current - 1 %}
                                    
                                <ul class="pagination">
                                    {% if current == 0 %}
                                        <li class="page-item disabled">
                                            <span class="page-link" tabindex="-1" aria-disabled="true">Previous</span>
                                        </li>
                                    {% elseif current >= 1 %}
                                        <li class="page-item">
                                            <a class="page-link" href="/show/{{ previous }}/page/deleted-accounts" tabindex="-1" aria-disabled="false">Previous</a>
                                        </li>
                                    {% endif %}
                                    

                                    {% for button in buttons %}
                                        <li class="page-item">
                                            {% if button.0 == current %}
                                                <a href="/show/{{button.0}}/page/deleted-accounts" class="page-link">
                                                    <span class="badge badge-primary">{{button.0 + 1}}</span>
                                                </a>
                                            {% else %}
                                                <a href="/show/{{button.0}}/page/deleted-accounts" class="page-link">
                                                    {{button.0 + 1}}
                                                </a>
                                            {% endif %}
                                        </li>
                                    {% endfor %}

                                    
                                    {% if buttons|length > current + 1 %}
                                        <li class="page-item">
                                            <a class="page-link" href="/show/{{ next }}/page/deleted-accounts" tabindex="+1" aria-disabled="false">Next</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <span class="page-link" tabindex="-1" aria-disabled="true">Next</span>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    {% endblock %}

    {% block javascripts %}
        {{parent()}}
    {% endblock %}

    {% block js %}
        {{parent()}}
    {% endblock %}
{% endblock %}