{% extends "./User/index.html.twig" %}

{% block head %}
    {{parent()}}
{% endblock %}

{% block body %}

    {% block menu %}
        {{parent()}}
    {% endblock %}

    {% block main_body %}
        <div class="jumbotron">
            <div style="margin-left:8%; margin-right:8%;">

                <div class="row" style="margin-top:15px;">
                    <div class="col-xl">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Game</th>
                                    <th scope="col">Player Id</th>
                                    <th scope="col">Server</th>
                                    <th scope="col">Nickname</th>
                                    <th scope="col">E-mail</th>
                                    <th scope="col">Is Deleted?</th>
                                    <th scope="col">Blocked At</th>
                                    <th scope="col">Will deleted At</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for account_to_delete in accounts_which_time_to_delete %}
                                    <tr>
                                        <th scope="row"><a href="{{ path('show-one-deleted-account', {id: account_to_delete.id}) }}">{{ account_to_delete.getId() }}</a></th>
                                        <td>{{ account_to_delete.getGame().getTitle() }}</td>
                                        <td>{{ account_to_delete.getPlayerId() }}</td>
                                        <td>{{ account_to_delete.getServer().getTitle() }}</td>
                                        <td>{{ account_to_delete.getNickname() }}</td>
                                        <td>{{ account_to_delete.getEmail() }}</td>
                                        <td>
                                            {% if account_to_delete.getIsDeleted() > 0 %} 
                                                <span class="badge badge-pill badge-success">True</span>
                                            {% else %}
                                                <span class="badge badge-pill badge-danger">False</span>
                                            {% endif %}
                                        </td>
                                        <td>{{ account_to_delete.getCreated()|date("d/m/Y") }}</td>
                                        <td>{{ account_to_delete.getDeletedAt()|date("d/m/Y") }}</td>
                                        <td><a href="{{ path('action-deleted-account', {id: account_to_delete.id}) }}" class="btn btn-warning">Edit</a>
                                        <a href="{{ path('delete-deleted-account', {id: account_to_delete.id}) }}" class="btn btn-danger">Delete</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>    
                    </div>
                </div><hr>
                <p class="lead">
                    <a class="badge badge-secondary" href="{{ app.request.headers.get('referer') }}">Back</a>
                </p>
            </div>
        </div>
    {% endblock %}

    {% block javascripts %}
        {{parent()}}
    {% endblock %}

    {% block js %}
        {{parent()}}
    {% endblock %}
{% endblock %}